<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/print_account.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/print_account.css" media="print">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
</head>
<body{#onload="window.print()" onfocus="window.close()#}">
	<header>
		{#<img src="https://bankinno.com/images/site/logo.png"/>#}
		<img src="/images/new_logo.png"/>
	</header>
	<div class="content">
		{% include template %}
	</div>
</body>
</html>