{% extends 'default/messages/index.html.twig' %}

{% set title, btn_new_msg_active = 'Messages', 1 %}

{% block body %}
<div class="clearfix"></div>
<div class="message_inside">
    <h1 class="mobile-padding">Messages</h1>
    <h2 class="mobile-padding">Payment cancellation</h2>
    <div class="pagination">
        <ul>
            <li><a href="#"><</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>

    <div class="wrapper_msg">
        <div class="owner msg">
            <span class="author">Ross Geller</span><span class="date">18/07/2016</span><span class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>

        <div class="manager msg">
            <span class="author">Anna Pitt, manager</span><span class="date">18/07/2016</span><span
                    class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>

        <div class="manager msg">
            <span class="author">Anna Pitt, manager</span><span class="date">18/07/2016</span><span
                    class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>

        <div class="owner msg">
            <span class="author">Ross Geller</span><span class="date">18/07/2016</span><span class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>

        <div class="owner msg">
            <span class="author">Ross Geller</span><span class="date">18/07/2016</span><span class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>

        <div class="manager msg">
            <span class="author">Anna Pitt, manager</span><span class="date">18/07/2016</span><span
                    class="time">10:03</span>
            <p class="text">Examination of markets, deep knowledge of financial, legal and organizational aspects allow
                our specialists to select and offer the optimum solution for each specific case. We offer tailored
                solutions for your business.</p>
        </div>
    </div>

    <div class="pagination btm">
        <ul>
            <li><a href="#"><</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>


    <form action="{{ path('messages_new') }}" method="POST">
        <div class="sendmsg">
            <div class="form-div5">
                <textarea name="message"></textarea>
            </div>

            <div id="message-form-upload">
                <div class="attach-file-div">
                    <a href="#" class="attach-file-link">
                        <span>Attach file</span>
                    </a>
                    <div class="uploaded-file-div">
                        <div class="uploaded-item">
                            <span class="ext">.docx</span>
                            <a href="#" title="delete" class="delete-uploaded"></a>
                        </div>
                        <div class="uploaded-item">
                            <span class="ext">.docx</span>
                            <a href="#" title="delete" class="delete-uploaded"></a>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
            <a href="#" title="Send" id="send-new-message-button" class="green-button8">Send</a>
    </form>
</div>
</div>
{% endblock %}