{% extends 'default/base.html.twig' %}

{% block content %}
    <div id="content-max ss">
        <div id="content-wrapper2">
            <div id="content-header3" class="mobile-padding">{{ title }}</div>
            {% if btn_new_msg_active is defined %}
                <a href="{{ path('messages_new') }}" class="green-button6" id="add-new-message">New message</a>
            {% endif %}
            <div class="message-button">
                <a href="{{ path('messages_notifications') }}" title="Notifications"
                   class="top-button{% if title == 'Notifications' %} top-button-active{% endif %}">Notifications
                    <span class="arr"></span>
                    {#<span class="circle">{{ app.User.UnreadMessages.notifications }}</span>#}
                </a>
                <a href="{{ path('messages_news') }}" title="News"
                   class="top-button{% if title == 'News' %} top-button-active{% endif %}">News
                    <span class="arr"></span>
                    {#<span class="circle">{{ app.User.Messages.News|length }}</span>#}
                </a>
                <a href="{{ path('messages') }}" title="Messages"
                   class="top-button{% if title == 'Messages' %} top-button-active{% endif %}">Messages
                    <span class="arr"></span> 
                    {#<span class="circle">2</span>#}
                </a>
                <div class="clear-both"></div>
            </div>

            {% block body %}
            {% endblock %}

            {% if btn_view_more_active is defined %}
                <a class="green-button7" id="view-more-messages" href="" title="View more">View more</a>
            {% endif %}
        </div>
    </div>

	<div class="clearfix"></div>
{% endblock %}
