{% extends 'default/messages/index.html.twig' %}

{% set title, btn_new_msg_active = 'Messages', 1 %}

{% block body %}
    <div id="message-wrapper">
        {#<div class="message-item new-message-item">#}
        {% for m in messages %}
            {% include 'default/messages/single.html.twig' ignore missing with
            { 'from':m.Author.Name ~ ' ' ~ m.Author.Surname, 'subject':m.Subject, 'date':m.Datetime|date('d M Y'),
            'time':m.Datetime|date('h:m'), 'text':m.Text } %}
        {% endfor %}
    </div>
{% endblock %}