{% extends 'default/messages/index.html.twig' %}

{% block body %}
    <div id="back">
        <a href="{{ path('messages') }}" title="">Back to Messages</a>
    </div>

    <div id="message-form-h" class="mobile-padding">New Message</div>
    <div id="message-form">
        <form action="{{ path('messages_new') }}" method="POST">
            <div class="message-form-tr">
                <div class="message-form-data">Subject</div>
                <div class="message-form-data">
                    <div class="form-div3">
                        <input type="text" name="subject" value="">
                    </div>
                </div>
            </div>
            {#<div class="message-form-tr">
                <div class="message-form-data">Type</div>
                <div class="message-form-data">
                    <div class="form-div4 select-green3-wrapper height32">
                        <select name="type" class="select-green" style="width: 100%">
                            <option value="general">General messaging</option>
                        </select>
                    </div>
                </div>
            </div>#}
            <div class="message-form-tr">
                <div class="message-form-data">Message</div>
                <div class="message-form-data">
                    <div class="form-div5">
                        <textarea name="message"></textarea>
                    </div>
                </div>
            </div>
            <div class="clear-both"></div>
            {#<div id="message-form-upload">
                <div class="attach-file-div">
                    <a href="#" class="attach-file-link">
                        <span>Attach file</span>
                    </a>
                    <div class="uploaded-file-div">
                        #}{#<div class="uploaded-item">File1#}{#
                            #}{#<span class="ext">.docx</span>#}{#
                            #}{#<a href="#" title="delete" class="delete-uploaded"></a>#}{#
                        #}{#</div>#}{#
                        #}{#<div class="uploaded-item">Document docum...#}{#
                            #}{#<span class="ext">.docx</span>#}{#
                            #}{#<a href="#" title="delete" class="delete-uploaded"></a>#}{#
                        #}{#</div>#}{#
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="sign-message-div">
                    <a href="#" class="sign-message-link"><span>Sign this Message</span></a>
                </div>
                <div id="one-time-pass2">
                    <div id="ot">One Time Password</div>
                    <div id="ot-i">
                        <input type="text" name="pass" value="">
                    </div>
                    <div id="ot2">type here...</div>
                    <div id="send-sms">
                        <a href="#" id="send-sms-link">Send in SMS</a>
                    </div>
                </div>
            </div>#}
            <div class="clear-both"></div>
            <a href="#" title="Send" id="send-new-message-button" class="green-button8">Send</a>
        </form>
    </div>
{% endblock %}
