{% extends 'default/messages/index.html.twig' %}
{% block body %}
    <div id="message-wrapper">
        {% for n in news %}
            {% include 'default/messages/single.html.twig' ignore missing with
            { 'from':n.Author, 'subject':n.Subject, 'date':n.Datetime|date('d M'),
            'time':n.Datetime|date('h:m:s'), 'text':n.Text } %}
        {% endfor %}
    </div>
{% endblock %}