{% extends 'default/messages/index.html.twig' %}

{% block body %}
    <div id="message-wrapper">
        {% for notification in notifications %}
            {% include 'default/messages/single.html.twig' ignore missing with
            { 'from':notification.Author, 'subject':notification.Subject, 'date':notification.Datetime|date('d M'),
            'time':notification.Datetime|date('h:m:s'), 'text':notification.Text } %}
        {% endfor %}
    </div>
{% endblock %}