<div class="message-item new-message-item">
    <div class="message-data">
        <div>{{ date }}</div>
        <div>{{ time }}</div>
    </div>
    <div class="message-data">
        <div>{{ subject }}</div>
        <div>{{ from }}</div>
    </div>
    <div class="message-data message-text">
        <div>{{ text }}</div>
    </div>
    <div class="clear-both"></div>
</div>