<div class="form-div grey-borders">
    <input type="text" name="amount" value="">
</div>
<div class="select-green2-wrapper currency-div2 height32 font14">
    <select name="currency" class="currency-select" style="width:88px;">
        {#{% if app.session.get('active_account') %}#}
            {#{% for currency in app.session.get('active_account').Currencies %}#}
                {#<option value="cur_{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</option>#}
            {#{% endfor %}#}
        {#{% endif %}#}
    </select>
</div>