<div class="not-enough-market">Not enough money. Please exchange:</div>
<div class="available-amouns-market">Available Amounts:
    {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
        {{ currency.Amount }} {{ currency.Currency.ShortName }}
    {% endfor %}
</div>
<div id="market-exchange">
    <div class="form-text">From</div>
    <div class="form-div grey-borders">
        <input type="text" name="exchange_from_amount" value="">
    </div>
    <div class="select-green2-wrapper height32 white-bg font12">
        <select name="exchange_from" class="currency-select" style="width:67px" autocomplete="off">
            <option value="0" selected="selected">--</option>
            {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
                <option value="{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-text2 mobile-market">to</div>
    <div class="form-div grey-borders mobile-market">
        <input type="text" name="exchange_to_amount" value="">
    </div>
    <div class="select-green2-wrapper height32 white-bg font12 mobile-market">
        <select name="exchange_to" class="currency-select" style="width:67px" autocomplete="off">
            <option value="0" selected="selected">--</option>
            {% for currency in currencies %}
                <option value="{{ currency.Id }}">{{ currency.ShortName }}</option>
            {% endfor %}
        </select>
    </div>
    <a class="green-button11 exchange-now" id="btn_exchange" href="#">Exchange now</a>
</div>