<div class="form-td-data">SWIFT/BIC</div>
<div class="form-td-data font14">
    <div class="form-div grey-borders">
        <input type="text" name="swift" value="" maxlength="11">
    </div>
</div>
<div class="form-td-data">
    {#<div class="swift-bank-name" id="swift_name">Bank of America, USA</div>#}
</div>