<div class="save-as-template-div">
    <a href="#" class="template-link">
        <span>Save as templates</span>
    </a>
</div>
<div class="save-as-template-div font14">
    <div class="form-div grey-borders">
        <input type="text" name="template" value="">
    </div>
</div>