<div class="select-green3-wrapper height32 two-lines">
    <select name="from" class="select-green" style="width:100%">
        <option name="" selected="selected">--</option>
        {% for a in app.User.ActiveHolder.Accounts %}
            <option name="{{ a.Id }}">{{ a.PrimaryHolder.Name }}, <span>{{ a.Number }}</span></option>
        {% endfor %}
    </select>
</div>
{% set total_amount = app.User.ActiveHolder.Accounts[0].Currencies[0].Amount %}
<div class="account-ammount-info">Available Amount:
    {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
    {{ currency.Amount }} {{ currency.Currency.ShortName }}
    {% endfor %}
</div>