{% if notype is not defined or notype is not iterable %}
    {% set notype = [] %}
{% endif %}

{% if 'economy' not in notype %}
    <div class="button">
        <input type="radio" name="shipment_type" value="economy" id="type_economy" >
        <label for="type_economy"></label>
        <span class="button-name">Economy<span class="button-name-comments">3-5 banking days</span></span>
    </div>
{% endif %}
{% if 'normal' not in notype %}
    <div class="button">
        <input type="radio" name="shipment_type" value="normal" id="type_normal" checked="checked">
        <label for="type_normal"></label>
        <span class="button-name">Normal<span class="button-name-comments">1-3 banking days</span></span>
    </div>
{% endif %}
{% if 'express' not in notype %}
    <div class="button">
        <input type="radio" name="shipment_type" value="express" id="type_express">
        <label for="type_express"></label>
        <span class="button-name">Express<span class="button-name-comments">same day</span></span>
    </div>
{% endif %}

<div id="fee-payment-div">
    {% if nofee is not defined or nofee != true %}
        {#<div id="fee-bankinno2">Fee: <span>25.00</span> EUR</div>#}
        {#<div id="fees-paid-by">#}
            {#<div>Fees to be paid by:</div>#}
            {#<div class="select-green2-wrapper currency-div2 height32 font14">#}
                {#<select name="currency_card" class="simple-select" style="width:125px;">#}
                    {#<option value="Beneficiary">Beneficiary</option>#}
                    {#<option value="Beneficiary">Beneficiary</option>#}
                    {#<option value="Beneficiary">Beneficiary</option>#}
                {#</select>#}
            {#</div>#}
        {#</div>#}
    {% endif %}
    <div class="clear-both"></div>
</div>