{#
<div id="activity-popup" class="popup-div">
    <div id="activity-popup-header">Activity log</div>
    <div id="activity-popup-table">
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td">Date</div>
            <div class="activity-popup-table-td">Country</div>
            <div class="activity-popup-table-td">Ip</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span id="activity-now">Now</span></div>
            <div class="activity-popup-table-td">Russian Federation</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
    </div>
</div>
#}