<!DOCTYPE html>
<html>
<head>
    {% block metas %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Bankinno Online Banking</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="/css/site.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/select2.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/ui/jquery-ui.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/jquery.scrollbar.css" media="screen">

        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

        <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext'
              rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="/js/mq.genie.min.js"></script>

        <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="/ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/select2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    {% endblock %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <script type="text/javascript" src="/js/respond.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen">
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<img id="logo_print" src="/images/new_logo.png"/>
<div class="page">
    <div class="content-wrapper">
        <!-- header -->
        {% include 'default/header.html.twig' ignore missing %}
        <!-- header -->
        <!-- top menu -->
        {% include 'default/top_menu.html.twig' ignore missing %}
        <!-- top menu -->
        <!-- content -->
        <div class="content-wrapper content-bg">
            {% block content %}
            {% endblock %}
        </div>
        <div id="w720"></div>
        <div id="w320"></div>
        <!-- content -->
    </div>
    <div class="footer_guarantor">&nbsp;</div>
</div>
{% include 'default/footer.html.twig' ignore missing %}
<div id="mask"></div>
<div id="mask2"></div>
</body>
</html>