<div class="footer">
    <div class="content-wrapper">
        <div id="fcol1">
            <div id="copyright">&copy; Bankinno, 2016</div>
            <div id="footer-links">
                <a href="{{ path('price_list') }}" title="">Price-list</a>&nbsp;/
                <a href="{{ path('terms_and_conditions') }}" title="">Terms & Conditions</a>
                {#<a href="{{ path('other_documents') }}" title="">Other documents</a> /#}
                {#<a href="{{ path('faq') }}" title="">FAQ</a>#}
            </div>
        </div>
        <div id="fcol2">
            <div id="phone">
                <span class="phone-prefix">{{ _phone_part1 }}</span>{{ _phone_part2 }}
            </div>
        </div>
        <div id="fcol3">
            {#<a href="#" title="Activity log" id="activity-log" class="tooltip tooltip-up disable fade grey-button"#}
               {#data-title="{{ _not_allowed }}">Activity log#}
            {#</a>#}
            <div id="activity-info">Last login: {{ app.session.get('prev_login_ip') }} {{ app.session.get('prev_login_time')|date("d.m.Y") }}</div>
        </div>
    </div>
</div>

<div class="footer-mobile">
    <div class="footer-mobile-wrapper">
        <div id="phone">
            {#<span class="phone-prefix">#}{{ _phone_part1 }}{#</span>#}{{ _phone_part2 }}
        </div>
        {#<a href="/approval-list/" title="Approval list" id="approval-link-footer" data-title="{{ _not_allowed }}"#}
           {#class="green-button2 empty-approval-list tooltip disable fade">#}
            {#APPROVAL LIST#}
            {#<span id="list-count">5</span>#}
        {#</a>#}
        {#<div id="language-div-footer">
            <a id="language-active-link-footer" href="#" title="">En<span class="arr"></span></a>
            <ul>
                <li><a href="#" title="">Pt</a></li>
                <li><a href="#" title="">Kz</a></li>
                <li><a href="#" title="">Fr</a></li>
            </ul>
        </div>#}
        {#<a href="#" title="Activity log" id="activity-log2" data-title="{{ _not_allowed }}"#}
           {#class="tooltip disable fade grey-button">Activity log</a>#}
        <div id="activity-info2">Last login: {{ app.session.get('prev_login_ip') }} {{ app.session.get('prev_login_time')|date("d.m.Y") }}</div>
        <div id="copyright2">&copy; 2016 Bankinno Inc.</div>
        <div id="footer-links2">
            <a href="{{ path('price_list') }}" title="">Price-list</a>
            <a href="{{ path('terms_and_conditions') }}" title="">Terms & Conditions</a>
            {#<a href="/text-page/" title="">Other documents</a>#}
            {#<a href="/text-page/" title="">FAQ</a>#}
        </div>
    </div>
</div>
{#<div id="footer-bottom-menu-mobile">#}
	{#<div id="footer-bottom-menu-mobile-wrapper">#}
		{#<a href="/" title="Home" class="home-icon">Home</a>#}
		{#<a href="/payment/" title="Pay" class="pay-icon">Pay</a>#}
		{#<a href="/exchange/" title="Exchange" class="exchange-icon">Exchange</a>#}
		{#<!--<a href="#" title="Live chat" class="chat-icon ">Live chat</a>-->#}
	{#</div>#}
{#</div>#}