<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Bankinno - a safe harbour for your money</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script type="text/javascript" src="/js/mq.genie.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/site.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/ui/jquery-ui.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/jquery.scrollbar.css" media="screen">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/select2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <script type="text/javascript" src="/js/respond.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen">
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="page">
    <div class="content-wrapper">
        <!-- header -->
        <div id="header-div">
            <a id="logo" title="Bankinno - a safe harbour for your money" href="/"></a>
            <a href="#" title="" class="green-button" id="live-chat-button">Live chat</a>
            <div id="topmenu">
                <a href="/" title="Logout" id="logout-button"><span>logout</span></a>
                <div id="language-div">
                    <a id="language-active-link" href="#" title="">En<span class="arr"></span></a>
                    <ul>
                        <li><a href="#" title="">Pt</a></li>
                        <li><a href="#" title="">Kz</a></li>
                        <li><a href="#" title="">Fr</a></li>
                    </ul>
                </div>
                <a href="/settings/" title="Settings" id="settings-link"></a>
                <div id="represent">test representative ...</div>
                <a href="/messages/" title="Messages" id="mail-link"><span id="mail-count">3</span></a>
                <a href="/approval-list/" title="Approval list" id="approval-link" class="green-button2 empty-approval-list">APPROVAL LIST<span id="list-count">5</span></a>
            </div>

        </div>
        <!-- header -->
        <!-- top menu -->
        <div id="top-menu-div">
            <div id="select-company-div" class="select-green-wrapper">
                <select name="company" class="select-green" id="select-company">
                    <option name="1">Test company</option>
                    <option name="2">Test company2</option>
                    <option name="3">Test company3</option>
                </select>
            </div>
            <div id="top-panel">
                <ul>
                    <li id="active-menu"><a href="/accounts/"><span id="mobile-icon1" class="mobile-icons"></span>Accounts</a></li>
                    <li ><a href="/cards/"><span id="mobile-icon2" class="mobile-icons"></span>Cards</a></li>
                    <li ><a href="/savings/"><span id="mobile-icon3" class="mobile-icons"></span>Savings</a></li>
                    <li ><a href="/loans/"><span id="mobile-icon4" class="mobile-icons"></span>Loans</a></li>
                    <li ><a href="/market/"><span id="mobile-icon5" class="mobile-icons"></span>Market</a></li>
                </ul>
            </div>
        </div>
        <!-- top menu -->
        <!-- content -->
        <div class="content-wrapper content-bg">
            <div id="content">
                <div id="content-header">Account</div>
                <div id="account-wrapper">
                    <div class="account-div">
                        <div class="account-div-header">
                            <a href="#" title="" class="account-name-link">Test Company</a>
                            <div class="account-name-div"><input type="text" name="account-name" value="" class="account-name-i"><input name="account-hidden-name" value="Test Company" class="hidden-inp"></div>
                        </div>
                        <div class="account-div-col1">
                            <div class="account-num">LC11BNKO5555555555540</div>
                            <div class="account-status">Current account</div>
                            <div class="account-details">
                                <a href="#" title="" class="account-details-link">Account details</a>
                                <!-- Account details pop up -->
                                <div class="account-details-popup popup-div2">
                                    <div class="account-details-popup-wrapper">
                                        <div class="account-details-popup-h">Account details</div>
                                        <div class="account-details-table">
                                            <div class="account-details-tr">
                                                <div>Account Holder</div>
                                                <div>Name Surname Longer</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Account Number</div>
                                                <div>LC0283755628475690</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Bank Name</div>
                                                <div>Bankinno Inc.</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Bank Address</div>
                                                <div>Penthouse 1, Rodney Bay, Castries, St. Lucia</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>SWIFT Code</div>
                                                <div>BNKINLCL1</div>
                                            </div>
                                        </div>
                                        <div class="account-details-buttons">
                                            <a href="#" class="print-button">Print</a>
                                            <a href="#" class="email-button">Send by email</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Account details pop up -->
                            </div>
                        </div>
                        <div class="account-div-col2">
                            <div class="currency-table">
                                <div class="currency-tr">
                                    <div>EUR</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>USD</div>
                                    <div>452,257.59</div>
                                    <div>$</div>
                                </div>
                                <div class="currency-tr">
                                    <div>AUD</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>CZK</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>JPY</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                            </div>
                            <div class="clear-both"></div>
                            <div class="account-subtotal">
                                <div class="currency-text">Subtotal</div>
                                <div class="select-green2-wrapper currency-div font16">
                                    <select name="currency" class="currency-select">
                                        <option value="EUR">EUR</option>
                                        <option value="USD">USD</option>
                                        <option value="CZK">CZK</option>
                                    </select>
                                </div>
                                <div class="currency-text2">45,552,621,452,257.59 <span class="grey">&euro;</span></div>
                            </div>
                        </div>
                        <div class="account-div-col3">
                            <div class="make-transfer-div relative green-button-open">
                                <a class="make-transfer-link green-button account-button green-button-arr" href="#" title="">Make transfer<span class="arr"></span></a>
                                <ul>
                                    <li><a href="/payment/" title="">Between own accounts</a></li>
                                    <li><a href="/payment/bankinno-client/" title="">To Bankinno client</a></li>
                                    <li><a href="/payment/international-swift/" title="">International SWIFT</a></li>
                                </ul>
                            </div>
                            <a href="/exchange/" title="Exchange" class="green-button account-button">Exchange</a>
                            <a href="/statement/" title="View Statement" class="green-button account-button">View Statement</a>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="account-div">
                        <div class="account-div-header">
                            <a href="#" title="" class="account-name-link">Test Company2</a>
                            <div class="account-name-div"><input type="text" name="account-name" value="" class="account-name-i"><input name="account-hidden-name" value="Test Company2" class="hidden-inp"></div>
                        </div>
                        <div class="account-div-col1">
                            <div class="account-num">LC11BNKO5555555555540</div>
                            <div class="account-status">Current account</div>
                            <div class="account-details">
                                <a href="#" title="" class="account-details-link">Account details</a>
                                <!-- Account details pop up -->
                                <div class="account-details-popup popup-div2">
                                    <div class="account-details-popup-wrapper">
                                        <div class="account-details-popup-h">Account details</div>
                                        <div class="account-details-table">
                                            <div class="account-details-tr">
                                                <div>Account Holder</div>
                                                <div>Name Surname Longer</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Account Number</div>
                                                <div>LC0283755628475690</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Bank Name</div>
                                                <div>Bankinno Inc.</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>Bank Address</div>
                                                <div>Penthouse 1, Rodney Bay, Castries, St. Lucia</div>
                                            </div>
                                            <div class="account-details-tr">
                                                <div>SWIFT Code</div>
                                                <div>BNKINLCL1</div>
                                            </div>
                                        </div>
                                        <div class="account-details-buttons">
                                            <a href="#" class="print-button">Print</a>
                                            <a href="#" class="email-button">Send by email</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Account details pop up -->
                            </div>
                        </div>
                        <div class="account-div-col2">
                            <div class="currency-table">
                                <div class="currency-tr">
                                    <div>EUR</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>USD</div>
                                    <div>452,257.59</div>
                                    <div>$</div>
                                </div>
                                <div class="currency-tr">
                                    <div>AUD</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>CZK</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                                <div class="currency-tr">
                                    <div>JPY</div>
                                    <div>452,257.59</div>
                                    <div>&euro;</div>
                                </div>
                            </div>
                            <div class="clear-both"></div>
                            <div class="account-subtotal">
                                <div class="currency-text">Subtotal</div>
                                <div class="select-green2-wrapper currency-div font16">
                                    <select name="currency" class="currency-select">
                                        <option value="EUR">EUR</option>
                                        <option value="USD">USD</option>
                                        <option value="CZK">CZK</option>
                                    </select>
                                </div>
                                <div class="currency-text2">45,552,621,452,257.59 <span class="grey">&euro;</span></div>
                            </div>
                        </div>
                        <div class="account-div-col3">
                            <div class="make-transfer-div relative green-button-open">
                                <a class="make-transfer-link green-button account-button green-button-arr" href="#" title="">Make transfer<span class="arr"></span></a>
                                <ul>
                                    <li><a href="/payment/" title="">Between own accounts</a></li>
                                    <li><a href="/payment/bankinno-client/" title="">To Bankinno client</a></li>
                                    <li><a href="/payment/international-swift/" title="">International SWIFT</a></li>
                                </ul>
                            </div>
                            <a href="/exchange/" title="Exchange" class="green-button account-button">Exchange</a>
                            <a href="/statement/" title="View Statement" class="green-button account-button">View Statement</a>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="w720"></div><div id="w320"></div>
        <!-- content -->
    </div>
    <div class="footer_guarantor">&nbsp;</div>
</div>
<div class="footer">
    <div class="content-wrapper">
        <div id="fcol1">
            <div id="copyright">&copy; Bankinno, 2016</div>
            <div id="footer-links"><a href="/text-page/" title="">Price-list</a> / <a href="/text-page/" title="">Terms & Conditions</a> / <a href="/text-page/" title="">Other documents</a> / <a href="/text-page/" title="">FAQ</a></div>
        </div>
        <div id="fcol2">
            <div id="phone"><span class="phone-prefix">+1 758</span> 000 0000</div>
        </div>
        <div id="fcol3">
            <a href="#" title="Activity log" id="activity-log" class="grey-button">Activity log</a>
            <div id="activity-info">Last login from Russian Federation: 2 days ago</div>
        </div>
    </div>
</div>
<div class="footer-mobile">
    <div class="footer-mobile-wrapper">
        <div id="phone"><span class="phone-prefix">+1 758</span> 000 0000</div>
        <a href="/approval-list/" title="Approval list" id="approval-link-footer" class="green-button2 empty-approval-list">APPROVAL LIST<span id="list-count">5</span></a>
        <div id="language-div-footer">
            <a id="language-active-link-footer" href="#" title="">En<span class="arr"></span></a>
            <ul>
                <li><a href="#" title="">Pt</a></li>
                <li><a href="#" title="">Kz</a></li>
                <li><a href="#" title="">Fr</a></li>
            </ul>
        </div>
        <a href="#" title="Activity log" id="activity-log2" class="grey-button">Activity log</a>
        <div id="activity-info2">Last login from Russian Federation: 2 days ago</div>
        <div id="copyright2">&copy; Bankinno, 2016</div>
        <div id="footer-links2"><a href="/text-page/" title="">Price-list</a><a href="/text-page/" title="">Terms & Conditions</a><a href="/text-page/" title="">Other documents</a><a href="/text-page/" title="">FAQ</a></div>
    </div>
</div>
<div id="mask"></div>
<div id="mask2"></div>


<!-- LIVE CHAT -->

<div id="live-chat" class="chat-connect popup-div2">
    <!-- chat-server, chat-error, chat-connect -->
    <div id="live-chat-top">
        <div id="live-chat-top-name">Live chat</div>
        <a href="#" class="live-chat-cut-down-mobile"></a>
        <div id="live-chat-top-status">You are now connected with Anna</div>
        <a href="#" class="live-chat-cut-down"></a>
    </div>
    <div style="height:399px;" id="live-chat-message-div-wrapper">
        <div id="live-chat-message-div" class="scrollbar-inner">

            <div class="live-chat-message">
                <div class="live-chat-photo-operator"><img src="/images/photo1.jpg" title="Anna"></div>
                <div class="live-chat-message-operator">
                    <div class="live-chat-message-operator-header"><span class="live-chat-message-operator-header-name">Anna</span>/<span class="live-chat-message-operator-header-time">20:22</span></div>
                    <div class="live-chat-message-operator-text">Hey! How can I help you?</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><img src="/images/photo2.jpg"></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">I'm having trouble registering my new my account</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-operator"><img src="/images/photo1.jpg" title="Anna"></div>
                <div class="live-chat-message-operator">
                    <div class="live-chat-message-operator-header"><span class="live-chat-message-operator-header-name">Anna</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-operator-text">Superdelegates are party insiders who can pledge their support for a candidate ahead of the convention but do not formally vote for them until the convention itself.</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><img src="/images/photo2.jpg"></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">
                        <div class="uploaded-file-div-chat">
                            <div class="uploaded-item-chat uploaded-item-type1">Document document<span class="ext">.docx</span></div>
                            <div class="uploaded-item-chat uploaded-item-type2">Document document2<span class="ext">.docx</span></div>
                            <div class="uploaded-item-chat uploaded-item-type3">Document 4<span class="ext">.docx</span></div>
                            <div class="uploaded-item-chat uploaded-item-type1">Good<span class="ext">.docx</span></div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><div class="video-on"></div></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Video camera ON</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><div class="video-off"></div></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Video camera OFF</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><div class="mic-on"></div></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Microphone ON</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><div class="mic-off"></div></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Microphone OFF</div>
                </div>
                <div class="clear-both"></div>
            </div>

        </div>
    </div>
    <div id="live-chat-bottom">
        <div id="live-chat-bottom-buttons">
            <a href="#" class="video-button video-support-off"></a>
            <!--video-support-on-->
            <a href="#" class="mic-button mic-support-off"></a>
            <!--mic-support-on mic-state2...6-->
        </div>
        <div id="live-chat-bottom-text">
            <div id="live-chat-input"><input type="text" value="Type message here..." name="chat-message"></div>
            <a href="#" id="live-chat-send-mobile" title="Send message"></a>
            <a href="#" id="live-chat-attach" title="Attach file"></a>
        </div>
        <a href="#" id="live-chat-send" title="Send">Send</a>
    </div>
    <div id="live-chat-camera">
        <div id="live-chat-operator-camera"><img src="/images/operator_img.png"></div>
        <div id="live-chat-client-camera"><img src="/images/client_img.png"><a href="#" class="live-chat-client-camera-close" title="close video chat"></a></div>
    </div>
</div>
<!--
<div id="footer-bottom-menu-mobile">
    <div id="footer-bottom-menu-mobile-wrapper">
        <a href="/" title="Home" class="home-icon">Home</a>
        <a href="/payment/" title="Pay" class="pay-icon">Pay</a>
        <a href="/exchange/" title="Exchange" class="exchange-icon">Exchange</a>
        <a href="#" title="Live chat" class="chat-icon ">Live chat</a>
    </div>
</div>
<!--chat-icon-active-->
<!-- LIVE CHAT -->


<div id="activity-popup" class="popup-div">
    <div id="activity-popup-header">Activity log</div>
    <div id="activity-popup-table">
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td">Date</div>
            <div class="activity-popup-table-td">Country</div>
            <div class="activity-popup-table-td">Ip</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span id="activity-now">Now</span></div>
            <div class="activity-popup-table-td">Russian Federation</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
        <div class="activity-popup-table-tr">
            <div class="activity-popup-table-td"><span class="activity-date">23.05.16</span> / 16:24</div>
            <div class="activity-popup-table-td">Portugal</div>
            <div class="activity-popup-table-td">192.168.100.155</div>
        </div>
    </div>
</div>
</body>
</html>