<!-- top menu -->
<div id="top-menu-div">
    <div id="select-company-div" class="select-green-wrapper">
        <select name="company" class="select-green" id="select-company">
            {% for holder_role in app.User.HoldersAndRoles %}
                <option value="{{ holder_role.Holder.Id }}">{{ holder_role.Holder.Name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="top-panel">
        <ul>
            {% if app.session.get('authenticatedWithOTP') %}
                <li>
                    <a href="/accounts">
                        <span id="mobile-icon1" class="mobile-icons"></span>Accounts
                    </a>
                </li>
            {% else %}
                <li class="tooltip disable fade" data-title="{{ _not_allowed }}">
                    <a href="#">
                        <span id="mobile-icon1" class="mobile-icons"></span>Accounts
                    </a>
                </li>
            {% endif %}

            {% if app.session.get('authenticatedWithOTP') %}
                <li>
                    <a href="/cards">
                        <span id="mobile-icon2" class="mobile-icons"></span>Cards
                    </a>
                </li>
            {% else %}
                <li class="tooltip disable fade" data-title="{{ _not_allowed }}">
                    <a href="#">
                        <span id="mobile-icon2" class="mobile-icons"></span>Cards
                    </a>
                </li>
            {% endif %}

            {% if app.session.get('authenticatedWithOTP') and false %}
                <li>
                    <a href="/savings">
                        <span id="mobile-icon3" class="mobile-icons"></span>Savings
                    </a>
                </li>
            {% else %}
                <li class="tooltip disable fade" data-title="{{ _not_allowed }}">
                    <a href="#">
                        <span id="mobile-icon3" class="mobile-icons"></span>Savings
                    </a>
                </li>
            {% endif %}

            {% if app.session.get('authenticatedWithOTP') and false %}
                <li>
                    <a href="/loans">
                        <span id="mobile-icon4" class="mobile-icons"></span>Loans
                    </a>
                </li>
            {% else %}
                <li class="tooltip disable fade" data-title="{{ _not_allowed }}">
                    <a href="#">
                        <span id="mobile-icon4" class="mobile-icons"></span>Loans
                    </a>
                </li>
            {% endif %}

            {% if app.session.get('authenticatedWithOTP') and false %}
                <li>
                    <a href="/market">
                        <span id="mobile-icon5" class="mobile-icons"></span>Market
                    </a>
                </li>
            {% else %}
                <li class="tooltip disable fade" data-title="{{ _not_allowed }}">
                    <a href="#">
                        <span id="mobile-icon5" class="mobile-icons"></span>Market
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- top menu -->