<!DOCTYPE html>
<html>
<head>
    {% block metas %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Bankinno - a safe harbour for your money</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="/css/site.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/select2.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/ui/jquery-ui.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/jquery.scrollbar.css" media="screen">

        <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext'
              rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="/js/mq.genie.min.js"></script>

        <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="/ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/select2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    {% endblock %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <script type="text/javascript" src="/js/respond.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen">
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no" />
</head>
<body>
<img id="logo_print" src="https://bankinno.com/images/site/logo.png"/>
<div class="page">
    <div class="content-wrapper">
        <!-- header -->
        {% include 'admin/header.html.twig' ignore missing %}
        <!-- header -->
        <!-- top menu -->
        {% include 'admin/top_menu.html.twig' ignore missing %}
        <!-- top menu -->
        <!-- content -->
        <div class="content-wrapper content-bg">
            <div id="content-max">
                <div id="content-wrapper2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="w720"></div>
        <div id="w320"></div>
        <!-- content -->
    </div>
    <div class="footer_guarantor">&nbsp;</div>
</div>
{% include 'default/footer.html.twig' ignore missing %}
<div id="mask"></div>
<div id="mask2"></div>
</body>
</html>