<!-- header -->
<div id="header-div">
    <a id="logo" title="Bankinno - a safe harbour for your money" href="/"></a>
    <!--<a data-title="{{ _not_allowed }}" href="#" title="" class="tooltip disable fade green-button"
       id="live-chat-button">Live chat</a>-->
    <div id="topmenu">
        <a href="{{ path('logout') }}" title="Logout" id="logout-button">
            <span>logout</span>
        </a>
        {#<div id="language-div">
            <a id="language-active-link" href="#" title="">En<span class="arr"></span></a>
            <ul>
                <li><a href="#" title="">Pt</a></li>
                <li><a href="#" title="">Kz</a></li>
                <li><a href="#" title="">Fr</a></li>
            </ul>
        </div>#}
        {% if app.session.get('authenticatedWithOTP') %}
            <a href="{{ path('settings') }}" title="Settings"
               id="settings-link"></a>
        {% else %}
            <a data-title="{{ _not_allowed }}" href="#" title="Settings"
               id="settings-link"></a>
        {% endif %}

        <div id="represent">{{ app.User.Name }} {{ app.User.Surname }}</div>
        <a href="{{ path('messages') }}" title="Messages" id="mail-link">
            {% if total_message_count is defined %}
                <span id="mail-count">{{ total_message_count }}</span>
            {% endif %}
        </a>

        {#{% if app.session.get('authenticatedWithOTP') and false %}#}
            {#<a href="{{ path('approval') }}" title="Approval list" id="approval-link"#}
               {#class="green-button2 empty-approval-list">APPROVAL LIST#}
                {#<span id="list-count">5</span>#}
            {#</a>#}
        {#{% else %}#}
            {#<a data-title="{{ _not_allowed }}" href="#" title="Approval list" id="approval-link"#}
               {#class="tooltip disable fade green-button2 empty-approval-list">APPROVAL LIST#}
                {#<span id="list-count">5</span>#}
            {#</a>#}
        {#{% endif %}#}
    </div>

</div>
<!-- header -->