{% extends 'admin/base.html.twig' %}

{% block content %}
<ul>
            {% if app.session.get('authenticatedWithOTP') %}
                <li>
                    <a href="/admin/register">
                        <span id="mobile-icon1" class="mobile-icons"></span>Register user
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <span id="mobile-icon1" class="mobile-icons"></span>Userlist
                    </a>
                </li>
            
            {% endif %}
        </ul>
{% endblock %}
