{% extends 'admin/base.html.twig' %}

{% block content %}
{{ form_start(form) }}
<div class="form-tr">
    {{ form_row(form.username, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div>
<div class="form-tr">
    {{ form_row(form.email, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div> 
<div class="form-tr">
    {{ form_row(form.name, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div>
<div class="form-tr">
    {{ form_row(form.surname, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div>
<div class="form-tr">
    {{ form_row(form.password.first, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div>
<div class="form-tr">
    {{ form_row(form.password.second, { 'attr': {'class': 'form-td-data form-div grey-borders'},'label_attr': {'class': 'form-td-data'} }) }}
</div>
<button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}