<!-- top menu -->
<div id="top-menu-div">
    <div id="select-company-div" class="select-green-wrapper">
        <select name="company" class="select-green" id="select-company">
            {% for holder_role in app.User.HoldersAndRoles %}
                <option value="{{ holder_role.Holder.Id }}">{{ holder_role.Holder.Name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="top-panel">
        <ul>
            {% if app.session.get('authenticatedWithOTP') %}
                <li>
                    <a href="/admin/register">
                        <span id="mobile-icon1" class="mobile-icons"></span>Register user
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <span id="mobile-icon1" class="mobile-icons"></span>Userlist
                    </a>
                </li>
                
                 <li>
                    <a href="/admin/send_message">
                        <span id="mobile-icon1" class="mobile-icons"></span>Send message
                    </a>
                </li>
            
            {% endif %}
        </ul>
    </div>
</div>
<!-- top menu -->