
{% extends 'admin/base.html.twig' %}

{% block content %}
   <style type="text/css">
        .user {
            border: solid 1px black;
            margin: 10px;
            padding: 10px;
        }
    </style> 
    {% for user in users %}
        <div class="user">
            <span>User: </span>
            <span>{{ user.Username }}  <a href="/admin/gen_otp?user={{ user.Username }}">
                        <span id="mobile-icon1" class="mobile-icons"></span>Gen otp
                    </a></span>
            {% for holder in user.HoldersAndRoles %}
                <div class="holder">
                    <span>Holder: </span>
                    <span>{{ holder.Holder.Name }}</span>
                    {% for account in holder.Holder.Accounts %}
                        <div class="account">
                            <span>Account: </span>
                            <span>{{ account.Number }}</span>
                            {% for currency in account.Currencies %}
                                {% set data = currency.Currency %}
                                <div class="currency">
                                    <span>{{ currency.Amount }}</span>

                                    <span>{{ data.Name }}</span>
                                    <span>{{ data.ShortName }}</span>
                                    <span>{{ data.Symbol }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
