{% extends 'default/base.html.twig' %}
{% block content %}
    <div id="content-max">
        <div id="content-header" class="mobile-padding">Conditions</div>
        <div id="content-wrapper2">
            <div id="content-header4" class="mobile-padding">Conditions</div>
            <div id="column-div">
                <div id="left-column">
                    <div class="left-menu-item">
                        <div class="left-menu-section-link">Price List
                            <div class="arr"></div>
                        </div>
                        <div class="left-menu-wrapper">
                            <a href="{{ path('price_list') }}" class="left-menu-link-sub">
                                <span>General clients</span>
                            </a>
                        </div>
                    </div>

                    <div class="left-menu-item">
                        <div class="left-menu-section-link">Terms & Conditions
                            <div class="arr"></div>
                        </div>
                        <div class="left-menu-wrapper">
                            <a href="{{ path('terms_and_conditions') }}" class="left-menu-link-sub"><span>Terms & Conditions</span></a>
                        </div>
                    </div>

                    {#<div class="left-menu-item">
                        <div class="left-menu-section-link">Other documents
                            <div class="arr"></div>
                        </div>
                        <div class="left-menu-wrapper">
                            <a href="{{ path('other_documents') }}" class="left-menu-link-sub"><span>Document 1</span></a>
                        </div>
                    </div>#}
{#
                    <div class="left-menu-item left-menu-item-open">
                        <div class="left-menu-section-link">FAQ
                            <div class="arr"></div>
                        </div>
                        <div class="left-menu-wrapper">
                            <a href="/text-page/"
                               class="left-menu-link-sub left-menu-link-sub-active"><span>About Accounts</span></a>
                            <a href="/text-page/" class="left-menu-link-sub"><span>About Cards</span></a>
                            <a href="/text-page/" class="left-menu-link-sub"><span>Privacy</span></a>
                            <a href="/text-page/" class="left-menu-link-sub"><span>Common questions</span></a>
                        </div>
                    </div>#}
                </div>
                <div id="column-sep"></div>
                <div id="centre-column">
                    {% block document %}
                        Choose document from left menu
                    {% endblock %}
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
{% endblock %}