{% extends 'default/documents/index.html.twig' %}
{% block document %}
<div class="payment-header general-clients">
    General clients</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Current Accounts</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-1">
        <td>
            <span>One-time fee</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-1" style="display: table-row;">
        <td>
            Opening remotely (without physical presence)</td>
        <td>
            US$ 700</td>
    </tr>
    <tr class="payment-table-subdata subtable-1" style="display: table-row;">
        <td>
            Opening in-person or through introductory partner</td>
        <td>
            US$ 500</td>
    </tr>
    <!-- Monthly Fees -->
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-2">
        <td>
            <span>Monthly fees</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-2" style="display: table-row;">
        <td>
            First account</td>
        <td>
            US$ 50</td>
    </tr>
    <tr class="payment-table-subdata subtable-2" style="display: table-row;">
        <td>
            Fee if account average balance over $25,000</td>
        <td>
            US$ 25</td>
    </tr>
    <tr class="payment-table-subdata subtable-2" style="display: table-row;">
        <td>
            Fee if account average balance over $50,000</td>
        <td>
            US$ 0</td>
    </tr>
    <tr class="payment-table-subdata subtable-2" style="display: table-row;">
        <td>
            Additional accounts</td>
        <td>
            US$ 25</td>
    </tr>
    <tr class="payment-table-subdata subtable-2" style="display: table-row;">
        <td>
            Online banking for first user</td>
        <td>
            Free of charge</td>
    </tr>
    <tr class="payment-table-subtable" id="psub-3">
        <td>
            <span>Surcharges (where applicable)</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Express opening of account (within 1 banking day)</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Account for US related persons or US citizens</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Account for politically exposed persons</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Online banking for additional users</td>
        <td>
            $25 per month</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Identification through online notary</td>
        <td>
            $200</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Power of Attorney check and registration</td>
        <td>
            $250</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Account closure</td>
        <td>
            $250</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Daily fee for violation of relationship balance</td>
        <td>
            $1</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Daily fee for inactive account (90 days no transactions)</td>
        <td>
            $3</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Daily fee for unauthorized overdraft</td>
        <td>
            $10</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Fee for balance in CHF</td>
        <td>
            0.005% per day</td>
    </tr>
    <tr class="payment-table-subdata subtable-3">
        <td>
            Fee for balance in non-convertible currencies</td>
        <td>
            0.003% per day</td>
    </tr>
    </tbody>
</table>
<div class="payment-header">
</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Payments &amp; Transfers</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-5">
        <td>
            <span>Between own accounts and Bankinno clients</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-5" style="display: table-row;">
        <td>
            Incoming and outgoing transfers in any currency</td>
        <td>
            Free of charge</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-6">
        <td>
            <span>Incoming transfers in any currency</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-6" style="display: table-row;">
        <td>
            From own account</td>
        <td>
            Free of charge</td>
    </tr>
    <tr class="payment-table-subdata subtable-6" style="display: table-row;">
        <td>
            From third party account</td>
        <td>
            0.1%, min. $10</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-7">
        <td>
            <span>Outgoing transfers in USD</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-7" style="display: table-row;">
        <td>
            To own account</td>
        <td>
            0.2%, min. $20</td>
    </tr>
    <tr class="payment-table-subdata subtable-7" style="display: table-row;">
        <td>
            To third party account</td>
        <td>
            0.3%, min. $30</td>
    </tr>
    <tr class="payment-table-subdata subtable-7" style="display: table-row;">
        <td>
            Express payment</td>
        <td>
            Add 0.5%, min. $25</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-8">
        <td>
            <span>Outgoing transfers in EUR</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-8" style="display: table-row;">
        <td>
            To own account</td>
        <td>
            0.1%, min. €5</td>
    </tr>
    <tr class="payment-table-subdata subtable-8" style="display: table-row;">
        <td>
            To third party account</td>
        <td>
            0.2%, min. €10</td>
    </tr>
    <tr class="payment-table-subdata subtable-8" style="display: table-row;">
        <td>
            Express payment</td>
        <td>
            Add 0.5%, min. €25</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-9">
        <td>
            <span>Outgoing transfers in GBP</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-9" style="display: table-row;">
        <td>
            To own account</td>
        <td>
            0.1%, min. £5</td>
    </tr>
    <tr class="payment-table-subdata subtable-9" style="display: table-row;">
        <td>
            To third party account</td>
        <td>
            0.2%, min. £10</td>
    </tr>
    <tr class="payment-table-subdata subtable-9" style="display: table-row;">
        <td>
            Express payment</td>
        <td>
            Add 0.5%, min. £25</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-10">
        <td>
            <span>Outgoing transfers in CHF</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-10" style="display: table-row;">
        <td>
            To own account</td>
        <td>
            0.3%, min. Fr. 15</td>
    </tr>
    <tr class="payment-table-subdata subtable-10" style="display: table-row;">
        <td>
            To third party account</td>
        <td>
            0.4%, min. Fr. 30</td>
    </tr>
    <tr class="payment-table-subdata subtable-10" style="display: table-row;">
        <td>
            Express payment</td>
        <td>
            Add 0.5%, min. Fr. 25</td>
    </tr>
    <tr class="payment-table-subtable payment-table-subtable-open" id="psub-11">
        <td>
            <span>Outgoing transfers in other currencies</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-11" style="display: table-row;">
        <td>
            To own account</td>
        <td>
            0.5%, min. $25</td>
    </tr>
    <tr class="payment-table-subdata subtable-11" style="display: table-row;">
        <td>
            To third party account</td>
        <td>
            1.0%, min. $50</td>
    </tr>
    <tr class="payment-table-subdata subtable-11" style="display: table-row;">
        <td>
            Express payment</td>
        <td>
            Add 0.5%, min. $25</td>
    </tr>
    <tr class="payment-table-subtable" id="psub-12">
        <td>
            <span>Surcharges (where applicable)</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-12">
        <td>
            Payment done not through online banking</td>
        <td>
            Add 1.0%, min. $10</td>
    </tr>
    <tr class="payment-table-subdata subtable-12">
        <td>
            Payments to high risk countries (ask your banker for list)</td>
        <td>
            Add 2.0%, min. $100</td>
    </tr>
    <tr class="payment-table-subdata subtable-12">
        <td>
            Payments from closed account</td>
        <td>
            Add 3.0%, min. $100</td>
    </tr>
    <tr class="payment-table-subdata subtable-12">
        <td>
            Payments to fulfil a court order</td>
        <td>
            Add 4.0%, min. $100</td>
    </tr>
    </tbody>
</table>
<div class="payment-header">
</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Bank cards</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Card annual fee depends from type of card</td>
        <td>
            Check online banking</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Payments offline, online and remote</td>
        <td>
            Free of charge</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            ATM withdrawals</td>
        <td>
            Up to 3%, min. $10</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Transfer to card</td>
        <td>
            1.0%, min. $10</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Custom pin code</td>
        <td>
            Free of charge</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Concierge service (per request)</td>
        <td>
            Up to $30</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Priority pass (Airport Lounge access)</td>
        <td>
            Up to $30</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Minimum security deposit for debit cards</td>
        <td>
            No</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Minimum security deposit for credit cards</td>
        <td>
            US$ 1,000 + credit limit</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Security deposit interest rate</td>
        <td>
            0%</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Used credit limit</td>
        <td>
            0.1% per day</td>
    </tr>
    </tbody>
</table>
<div class="payment-header">
</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Foreign currencies</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Instant exchange</td>
        <td>
            Check online banking</td>
    </tr>
    <tr class="payment-table-subtable" id="psub-13">
        <td>
            <span>Exchange rate reservation</span></td>
        <td>
        </td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            1-3 days</td>
        <td>
            From 1%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            4-7 days</td>
        <td>
            From 2%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            8-14 days</td>
        <td>
            From 3%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            15-30 days</td>
        <td>
            From 4%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            31-90 days</td>
        <td>
            From 5%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            91-180 days</td>
        <td>
            From 7%</td>
    </tr>
    <tr class="payment-table-subdata subtable-13">
        <td>
            181-365 days</td>
        <td>
            From 9%</td>
    </tr>
    </tbody>
</table>
<div class="payment-header">
</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Investments</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Brokerage commissions</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Venture capital investments</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Promissory notes and Subordinated loans</td>
        <td>
            Upon agreement</td>
    </tr>
    </tbody>
</table>
<div class="payment-header">
</div>
<table class="payment-table">
    <tbody>
    <tr class="payment-table-header">
        <td class="payment-table-col1">
            Non-banking products</td>
        <td class="payment-table-col2">
            Fee</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            IBC in St. Lucia</td>
        <td>
            $ 1,800</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Nominee services for IBC</td>
        <td>
            $ 1,200</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Legal consultations</td>
        <td>
            US$ 350 per hour</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Tax consultations</td>
        <td>
            US$ 250 per hour</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Investment consultations</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Wealth management / Family Office services</td>
        <td>
            Upon agreement</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Setup of trust in St. Lucia</td>
        <td>
            From $ 9,000</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Setup of insurance company in St. Lucia</td>
        <td>
            From $ 80,000</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Setup of a gambling company</td>
        <td>
            From $ 40,000</td>
    </tr>
    <tr class="payment-table-subdata subtable-14" style="display: table-row;">
        <td>
            Setup of other licensed business in St. Lucia or abroad</td>
        <td>
            Upon agreement</td>
    </tr>
    </tbody>
</table>
<br>
<p>If you have any questions – please call us or write an email to hello@bankinno.com</p>

{% endblock %}