{% extends 'default/documents/index.html.twig' %}

{% block document %}
    <div id="centre-column">
        <div id="centre-column-h"> General Terms and Conditions
        </div>
        <div id="centre-column-text" class="page-with-text">
            <p class="centre-column-h2">1. Definitions</p>
            <p>“Account” shall mean each account the Client holds with the Bank from time to time. </p>
            <p> “Account Opening Form” shall mean a properly completed and duly signed account opening form (in the form
                prescribed by the Bank) submitted by the Client to the Bank for the purpose of applying for an Account,
                as amended from time to time by the Bank in accordance with this Agreement. </p>
            <p> “Amounts Owing” shall mean all amounts owed by the Client to the Bank whether in connection with an
                Account, other credit facility or any other reason from time to time and the costs incurred to collect
                Amounts Owing. </p>
            <p> “Authority” shall mean any judicial, administrative or regulatory body, any government, or public, or
                governmental agency, instrumentality or authority, any Tax Authority, court, central bank or law
                enforcement body, or any agents thereof, having jurisdiction over the Bank. </p>
            <p> “Authorised Signatory” shall mean any person authorised to give instructions on an Account in accordance
                with Clause “Authorised Signatories”. </p>
            <p> “Bank” shall mean BANKINNO INC. and its subsidiaries and branches as applicable, or variously, “we” and
                “our”. </p>
            <p> “Business Day” shall mean any day except Saturday or Sunday on which banks in Saint Lucia are open for
                business. </p>
            <p> “Compliance Obligations” shall mean the obligations of the Bank to comply with (a) any applicable local
                and foreign statute, regulation, ordinance, rule judgment, decree, voluntary code, directive, sanctions
                regime, court order, agreement between the Bank and an Authority, or agreement or treaty between
                Authorities and applicable to the Bank (the “Laws”) , or international guidance and internal policies
                and procedures (b) any valid demand from Authorities or reporting, regulatory trade reporting,
                disclosure or other obligations under Laws and (c) Laws requiring the Bank to verify the identity of its
                Clients. </p>
            <p> “Connected Person” shall mean a person or entity whose information including Personal Data or Tax
                Information is provided by, or on behalf of the Client to the Bank in connection with the provision of
                the Services. In relation to the Client, a Connected Person may include, but is not limited to, any
                guarantor of the Client, a director or officer of a company, partners or members of a partnership, any
                “substantial owner”, “controlling person”, or beneficial owner, trustee, settlor, or protector of a
                trust, account holder of a designated account, payee of a designated payment, representative, agent or
                nominee of the Client, or any other person or entities having a relation to the Client that is relevant
                to its banking relationship with the Bank. </p>
            <p> “Client” shall mean the person named on the Individual Account Opening Form and on whose behalf the
                Account Opening Form is signed. For a company, the entity named in the Company Account Opening Form and
                related resolution for each Account. For a trust, Client means the trustee of the trust named in the
                Trust Account Opening Form and related trustee resolution for each Account. For a partnership, joint
                venture or unincorporated association, or sole proprietorship, “Client” includes every general partner,
                joint venture participant, member or individual respectively, of the entity joint and severally. </p>
            <p> “Client Information” shall mean Personal Data, confidential information and/or Tax Information of either
                the Client or a Connected Person including accompanying statements, certificates, waivers and
                consents. </p>
            <p> “Fee Schedule” shall mean the current charge, fee and interest rate schedule provided by the Bank from
                time to time. </p>
            <p> “Electronic Means” shall mean communications sent by email, computer or the use of scanned or digital
                signatures or any other electronic means and includes telephone and facsimile communication if
                specifically authorised in writing by the Client. </p>
            <p> “Financial Crime” shall mean money laundering, terrorist financing, bribery, corruption, tax evasion,
                fraud, evasion of economic or trade sanctions, and/or violations, or attempts to circumvent or violate
                any Laws or regulations relating to these matters. </p>
            <p> “Instructions” shall mean any written instructions provided or purportedly provided by the Client,
                including but not limited to instructions from an Authorised Signatory and received by the Bank directly
                or indirectly, via Electronic Means. </p>
            <p> “Internet Banking” shall mean the Bank’s personal Internet banking service and includes on-line access
                to Account information, transferring funds between Accounts, and general information relating to rates
                and access to other electronic financial products and services authorised and provided by the Bank. </p>
            <p> “Loss” shall mean any claim, charge, cost (including but not limited to legal or other professional
                cost), damages, debt, expense, tax, liability, obligation, allegation, suit, action, demand, cause of
                action, proceeding or judgment, however calculated or caused, and whether direct or indirect,
                consequential, punitive or incidental. </p>
            <p> “Personal Data” shall mean any information related to an individual from which the individual can be
                identified, including without limitation, sensitive personal data such as name(s), residential
                address(es), contact information, age, date of birth, nationality, citizenship, personal and marital
                status. </p>
            <p> “Access Information” shall mean each access code or “passphrase” uniquely assigned to the Client for
                confidential use that confirms Client’s identity, and allows Client to access his Accounts and authorise
                Transactions on the Account. </p>
            <p> “Services” shall mean without limitation a) opening, maintaining and closing of your Accounts b)
                Internet Banking c) the provision of credit facilities and other banking products and services to you
                and d) the maintenance of the Bank’s overall relationship with you. </p>
            <p> “OTP” shall mean one-time password, generated by the secure software on a basis of the OTP generation
                code. </p>
            <p class="centre-column-h2"> 2. Client Agreement </p>
            <p>2.1. These terms and conditions shall govern your Account with the Bank and explain our obligations to
                you and your obligation to us. These terms and conditions apply to your Account with the Bank and any
                services the Bank provides in connection with your Account. It extends to and includes any persons,
                including your agents/third parties, you authorise to give instructions on your Account. It replaces any
                previous account agreement(s), regulations or terms and conditions for conducting business with the
                Bank. </p>
            <p>2.2. Your agreement with the Bank ("Agreement") is comprised of: (i) these terms and conditions, as
                modified by the Bank from time to time; (ii) the additional conditions (as described in Sub-clause 1 of
                “General Conditions” Clause); and (iii) the Account Application. </p>
            <p class="centre-column-h2"> 3. General Conditions </p>
            <p>3.1. The additional conditions include our charges and the interest rates, notice periods, minimum or
                maximum balances and other terms which are specific to a particular account or service. The Bank will
                inform you what these additional conditions are when you open an Account or apply for a new service.
                Details of these are set out in our service guides, supplemental agreements, or may be published on our
                website. </p>
            <p>3.2. If the additional conditions are inconsistent with these general conditions, the additional
                conditions will apply. If a transaction is made on an Account, you will be deemed to have received, read
                and understood this Agreement and to have agreed to be bound by these terms and conditions. </p>
            <p class="centre-column-h2"> 4. Use of Account/Services </p>
            <p>4.1. Services shall be used for carrying legitimate personal business or commercial enterprise. You
                undertake and agree to provide the Bank with all information requested by the Bank, including, but not
                limited to, in relation to the source of funds, operation of the Account and identification of owners,
                beneficiaries, signatories and relevant Connected Persons. </p>
            <p>4.2. Client authorises the Bank to debit the Account with any and all sums payable pursuant to the
                Instructions and confirm that the Bank has the absolute discretion to refuse to process any transaction
                or to accept any deposit to an Account without explanation or justification. </p>
            <p>4.3. The Bank may, without notice, close an Account, suspend Account activity or otherwise limit or
                cancel services to ensure compliance with this Agreement or any applicable laws. </p>
            <p class="centre-column-h2">5. Joint Accounts </p>
            <p>5.1. In the case of a joint Account, the rights and obligations under this Agreement of the Account
                holders shall be joint and several. Unless otherwise notified in writing to the Bank, the Bank shall be
                entitled to accept instructions from and for all purposes to deal with any of the Account holders as
                agent for all of them. </p>
            <p class="centre-column-h2">6. Trusts/Trust Accounts</p>
            <p>Client acknowledges that the Bank is not acting as trustee for any Account and the Bank shall not be
                required to supervise the operation of any Account or property held by the Bank to ensure that it is
                operated in accordance with the provisions of any trust, whether or not the Bank has notice of the
                existence of any such trust or the specific provisions governing the same. </p>
            <p class="centre-column-h2">7. Service Charges</p>
            <p>7.1. Client agrees to pay the Bank’s service charges in accordance with the Bank’s pricelist which may be
                varied from time to time by the Bank. The Bank will also charge for its actual disbursements. Client
                agrees to pay all third party charges in connection with the Account transactions. </p>
            <p>7.2. Unless otherwise stated, the service charges and disbursements that apply to an Account are payable
                in the main currency in which the Account is maintained and the Bank is authorised to automatically
                debit all such service charges and disbursements from the Account. </p>
            <p>7.3. Client agrees that the Bank shall be entitled to demand payment of taxes, costs, fees and
                disbursements and penalties which may be charged subsequently to the Bank with respect to your Account
                transactions. </p>
            <p>7.4. You hereby authorise the Bank to debit, to the extent permitted by laws and regulations, your
                Account for the taxes levied against you, the repayment of expenses and disbursements incurred by the
                Bank on your behalf arising from the transactions with the Bank. </p>
            <p class="centre-column-h2">8. Interest and Charges</p>
            <p>8.1. Interest or, if applicable, interest charges and fees are payable daily, weekly or monthly upon
                discretion of the Bank in arrears by crediting or debiting your Account. </p>
            <p>8.2. The Bank reserves the right to charge for additional services and to vary interest rates and charges
                and interest payment schedule from time to time in accordance with this Agreement. </p>
            <p class="centre-column-h2">9. Foreign Currency Transactions</p>
            <p>9.1. Transactions in foreign currency deposit accounts may be in any currency agreed with the Bank.
                Foreign exchange rates quoted prior to trade completion are indicative rates. The Bank will set the rate
                for each transactions requiring foreign currency conversion at the time the foreign exchange transaction
                is completed in the market and your Account will be charged or credited as applicable for the converted
                funds plus applicable fees and taxes. </p>
            <p>9.2. Client agrees to bear all risks with respect to currency fluctuations, foreign exchange restriction
                and losses in connection with deposits and transactions in foreign currency deposit accounts. </p>
            <p class="centre-column-h2">10. Investment Accounts</p>
            <p>Credit balances in foreign currencies are carried in the name of the Bank with well-established foreign
                correspondents, but at the risk of the Client, including the risk of possible fiscal and other
                governmental measures (foreign or domestic), especially transfer restrictions. </p>
            <p class="centre-column-h2">11. Overdrafts</p>
            <p>Client agrees to always keep the Accounts in credit. The Bank has no obligation to execute any
                Instructions which would result in an Account being overdrawn. </p>
            <p class="centre-column-h2">12. Set-off and Application of Funds</p>
            <p>In addition to any right of set-off or other general lien or similar right which the Bank may be entitled
                in law, the Bank may use any amounts you have on any Account in any currency and without regard to
                maturity to reduce or repay any amounts you may owe the Bank (including all costs, charges and expenses
                incurred in any way in relation to the enforcement of any debts or liabilities owed to the Bank,
                including legal fees of the Bank) on any Account, either in your own name or jointly with anyone
                else. </p>
            <p class="centre-column-h2">13. Authorised Signatories</p>
            <p>13.1. Client shall appoint any reasonable number of persons or entities as Authorised Signatories on an
                Account by completing the Bank's Account Opening Form or other respective forms. </p>
            <p>13.2. All person(s) designated as Authorised Signatories shall be your actual representatives to conduct
                business with the Bank. </p>
            <p>13.3. No person may give any instruction to the Bank in relation to an Account until they have been
                appointed as an Authorised Signatory in accordance with the Bank's procedures and submitted required
                documentation to the Bank. </p>
            <p>13.4. In the event that an Authorised Signatory is removed or replaced or the Authorised Signatory or
                signing mandate is varied, you undertake to immediately deliver to the Bank proper updated corporate
                documents and amended Authorised Signatory form containing specimen signatures of all persons authorised
                to sign on an Account. </p>
            <p>13.5. Until the Bank acknowledges receipt of an updated substitute Authorised Signatory form, you agree
                to indemnify and hold harmless the Bank against any and all claims, actions, demands, liabilities,
                costs, charges, damages, losses, proceedings, expenses and consequences of whatever nature and howsoever
                arising by reason of the Bank acting on the instructions of an Authorised Signatory who has been removed
                or dealing pursuant to a mandate that has been varied prior to the Bank's acknowledgement. </p>
            <p class="centre-column-h2">14. Instructions</p>
            <p>14.1. The Bank reserves the right not to act on Instructions which it deems in its absolute discretion to
                be unclear, ambiguous, contradictory, erroneous or improper and you agree that the Bank will not be
                liable for any loss due to any delay in acting or for any failure to act on such Instruction. </p>
            <p>14.2. Notwithstanding any terms of this Agreement or course of dealings between you and the Bank, the
                Bank shall be entitled to rely solely upon and act in accordance with Instructions given or purported to
                be given by an Authorised Signatory without further enquiry on the Bank's part as to the authority or
                identity of the person making or purporting to give such Instructions, regardless of the circumstances
                prevailing at such time, and shall be entitled (but not required) to take such steps in connection with
                or in reliance upon the Instructions as the Bank may in good faith consider appropriate, regardless of
                the nature of the Instructions and whether such Instructions include instructions to pay money or
                otherwise to debit or credit any Account, or relate to the disposition of any money, securities or
                documents, or purport to bind you to any agreement or other arrangement with the Bank or with any other
                person or to commit you to any other type of transaction or arrangement whatsoever, regardless of the
                nature of the transaction or arrangements or the amount of money involved and notwithstanding any error
                or misunderstanding or lack of clarity in the terms of such notice, demand or other communication. </p>
            <p>14.3. You agree that the Bank shall not be liable for any loss incurred by you as a result of the Bank
                relying on any Instructions pursuant to Sub-clause 2 of this Clause and you agree to indemnify the Bank
                for any losses incurred by the Bank as a result of reliance on such Instructions. </p>
            <p>14.4. The Bank shall have the right to refuse to comply with a Client’s instruction to withdraw funds
                from an Account or transfer funds or to otherwise transact on an Account, or to delay the execution of
                Client’s instructions, if it reasonably believes that it would breach the Bank’s statutory obligations,
                and the Bank shall have the right to decline to give reasons for such refusal or delay. </p>
            <p>14.5. The Bank shall not be liable to the Client or any third party for any losses suffered as a result
                of the refusal or delay in the execution of a payment instruction pursuant to Sub-clause 4 of this
                Clause. </p>
            <p class="centre-column-h2">15. Hold on Funds</p>
            <p>15.1. The Bank has the right to place a hold on any Account in the following circumstances: </p>
            <p>a) if the Bank becomes aware of suspicious and/or possible fraudulent and/or unauthorised Account
                activity that may cause a loss to the Client, the Bank or an identifiable third party; </p>
            <p>b) if an issue arises as to who are the proper signing authorities on any Account; </p>
            <p>c) if, in the Bank’s sole opinion, a potentially legitimate claim is made by a third party on those
                funds. </p>
            <p>15.2. The Bank will not be liable for any loss for following or disregarding any Instructions to place or
                remove a hold. </p>
            <p class="centre-column-h2">16. Statement of Account</p>
            <p>16.1. The Bank will provide statements showing all amounts credited to or debited from the Account since
                the previous statement. </p>
            <p>16.2. Unless you request otherwise, your statement will be available via Internet Banking. If requested,
                printed statements will be delivered to you via Electronic Means to your last recorded address at the
                prevailing fee. </p>
            <p>16.3. You agree to promptly examine all entries, and the balance recorded in each Account statement, and
                undertake to notify the Bank via Electronic Means of any errors, omissions or corrections shown on any
                Account statement within 30 (thirty) calendar days of the date of the Account statement. </p>
            <p>16.4. You undertake to immediately notify the Bank via Electronic Means suspecting or becoming aware that
                a document or transaction relating to an Account is improper or has been forged and to provide the Bank
                with complete documentation in this respect so as to enable to Bank to investigate and take proper
                action. </p>
            <p>16.5. If you do not notify the Bank as required in Sub-clauses 3 and 4 of this Clause, the Bank is
                entitled to treat any Account balances, entries and transactions in respect of the period covered by the
                statement as correct and binding on you and the Bank will be released from all claims by you in respect
                of errors or omissions within the covered period. </p>
            <p class="centre-column-h2">17. Use of Account as Collateral</p>
            <p>You may not give anyone other than the Bank a security interest in any funds in an Account, whether by
                assignment, charge, transfer or otherwise without the written consent of the Bank. </p>
            <p class="centre-column-h2">18. Changing the Terms of the Agreement</p>
            <p>18.1.	You will be acquainted with and sign by hand the up-to-date wording of the terms and conditions at the moment of signing of Account Opening Form only once during the account opening procedure. The Bank may change the terms of this Agreement (including interest rates and our charges) and may introduce changes to our service(s) from time to time upon notice to you via Electronic Means or Internet Banking. Changes will normally be caused by market conditions, changes in the cost of providing a service to you, changes in legal or other requirements affecting us, or any other good reason. The Bank shall not be in any case obliged to request from you additional signatures on the updated terms and conditions. You are obliged to read the updated version of the terms and conditions every time you use Services. </p>
            <p>18.2. If you use an Account or have funds on deposit in the Account after the effective date of the
                change, you will be deemed to have accepted such changes in their entirety. </p>
            <p class="centre-column-h2">19. Communications</p>
            <p>19.1. The Bank will send all communications concerning the Account and this Agreement to you by ordinary
                mail, via Electronic Means or Internet Banking. </p>
            <p>19.2. Any Access Information is for Client’s own use. Client shall take reasonable precautions to control
                and maintain the secrecy and prevent unauthorised use of the Access Information. </p>
            <p>19.3. The Bank will communicate the Access Information to the Client in a safe and precisely targeted
                manner, namely, the client ID will be communicated via Electronic Means provided by the Client, PIN will
                be communicated via SMS to the mobile phone number provided in the Account Opening Form, the first part of
                the OTP generation code will be communicated by post to the address provided in the Account Opening Form (or
                by Electronic Means, upon discretion of the relationship manager, to the email provided in the
                Account Opening Form). To receive the second part of the OTP generation code, the Client shall contact us
                via designated phone number provided together with the first part of the OTP generation code and request
                the finalization of the procedure. Afterwards we will contact the Client by phone number provided,
                identify the Client, record the voice for the further use for the identification purposes and provide
                the second part of the OTP generation code. </p>
            <p>19.4. Communication received via Internet Banking from the Client with the signature validated by the OTP
                shall be legally binding to the Client and the Bank shall not be obliged to perform any additional
                measures to validate such communication. </p>
            <p class="centre-column-h2">20. Termination of this Agreement or a Service</p>
            <p>20.1. Client may terminate the Agreement or a service or close an Account by written notice to the Bank,
                effective upon the Bank’s receipt of notice. </p>
            <p>20.2. In the case of joint accounts, the Bank may request the instruction of all the account
                holders. </p>
            <p>20.3. The Bank may withdraw the provision of any service without terminating this Agreement by giving you
                30 (thirty) calendar days' prior notice via Electronic Means. You will continue to be liable in respect
                of all liabilities outstanding or arising after the service is withdrawn which relate to the period
                before withdrawal. </p>
            <p>20.4. The Bank may take action to close an Account immediately if the Bank reasonably believes that </p>
            <p>a) you are not eligible for the Account; </p>
            <p>b) you have given us any false information at any time; </p>
            <p>c) you or someone else is using the Account illegally; </p>
            <p>d) you have been in serious or persistent breach of this Agreement or any additional conditions which
                apply to the Account; </p>
            <p>e) you have become bankrupt or insolvent as either term is interpreted under Saint Lucia law; </p>
            <p>f) for any other reason as determined by the Bank. </p>
            <p>20.5. The Bank may end the banking relationship with you or close the Account </p>
            <p>a) with 30 (thirty) calendar days’ notice in writing if the Account balance falls below the minimum
                deposit amount stipulated by the Bank; or </p>
            <p>b) at any time, in its absolute discretion without explanation. </p>
            <p>20.6. The Bank can at any time, without getting your consent, assign, novate or transfer all or any of
                our rights and benefits, and transfer any of our obligations, under this Agreement to any person, firm
                or company or sub-participate or sub-contract any of our rights or obligations under this
                Agreement. </p>
            <p>20.7. Termination shall be without prejudice and shall be subject to the proper settlement of all
                transactions and the Bank will complete and settle such transactions as soon as practicable. </p>
            <p>20.8. Accounts that remain unfunded for a period of 3 (three) months from the date of opening may be
                closed at the discretion of the Bank without notice to the Client. </p>
            <p>20.9. Accounts closed within 12 (twelve) months of being opened shall be subject to a charge at the
                discretion of the Bank. </p>
            <p>20.10. If, for a period of 6 (six) months from the last transaction, there is no deposit (other than
                interest credited) or withdrawal from any account (other than a term deposit or pledged account), the
                Bank may cease to accrue interest and in its discretion, may levy a reasonable service charge, at such
                intervals as the Bank shall select, against such account. </p>
            <p>20.11. On closing an Account, the Bank will be deemed to have satisfied its obligation to return your
                funds by delivering funds net of all fees and expenses by wire transfer to a designated bank account in
                your name pursuant to your instructions. Upon failure to provide instructions and/or evidence that the
                designated bank account is in your name, the Bank will store fund and may levy a reasonable service
                charge until the proper instructions and/or evidence that the designated bank account is in your name
                will be provided to the Bank. </p>
            <p>20.12. Funds will generally be released approximately 45 (fourty five) calendar days from the date of
                termination. Where the Account is pledged as security for a credit card service, funds will be held for
                at least 150 (one hundred fifty) days from the date of termination. </p>
            <p>20.13. The Bank reserves and will exercise the right to correct any error or omission on accounts with
                the Bank regardless of the source of the error or the cause of the omission at any time before the
                closing of accounts. </p>
            <p class="centre-column-h2">21. Representations and Warranties</p>
            <p>21.1. You represent and warrant: </p>
            <p>21.1.1. that the opening of the Account has been properly authorised and the Authorised Signatories have
                been properly appointed a) by the directors (in the case of a company), b) by the general partner (in
                the case of a Partnership), c) by the trustee (in the case of a trust or d) by the beneficial owners of
                the Account (in the case of an individual) and that such authority has not been amended, modified or
                revoked; </p>
            <p>21.1.2. (if you are a company, partnership or trust) that the company, partnership or trust (as the case
                may be) is validly existing and in good standing; </p>
            <p>21.1.3. that appropriate legal and tax advice has been taken from professional legal and/or tax advisors
                with respect to the establishment and operation of the Account in all applicable jurisdictions. You
                acknowledge that you may not rely on any discussions (if any) with the Bank concerning legal or tax
                matters and that the Bank shall not be liable for any such reliance; </p>
            <p>21.1.4. that you and each Connected Person (in their capacity as such) understand and are fully compliant
                with your respective tax obligations (including but not limited to, tax payment or filing of returns or
                other required documentation relating to the payment of all relevant taxes) in all jurisdictions in
                which they arise and relating to the opening and use of the Accounts and services provided by the
                Bank; </p>
            <p>21.1.5. that all funds to be deposited in the account have been declared for tax purposes where required
                by law and comply with all fiscal regulations in all pertinent jurisdictions in which the Client is
                required to file a tax return, and no responsibility whatsoever shall be placed on the Bank for the
                Applicant failing to do so; and, for the purposes of the laws of Saint Lucia, that the source of funds
                and/or assets to which the Agreement relates are not connected in any way with illicit transactions and
                in particular to drug trafficking, arms trading, corruption, bribery or money laundering. </p>
            <p>21.2. You agree to hold harmless and to indemnify the Bank for any Loss incurred by the Bank as a result
                of any representations being inaccurate, incomplete or untrue. </p>
            <p class="centre-column-h2">22. Limitation of Liability</p>
            <p>22.1. Without limiting the effect of any other liability clauses of these Terms and Conditions, the
                Client agrees that the Bank will not be held liable and is hereby released from all liabilities, claims
                and losses sustained in connection with this Agreement or any Account unless the claim or loss was
                solely caused by the gross negligence or intentional misconduct of the Bank. </p>
            <p>22.2. Notwithstanding anything else herein, the Bank will not be responsible or liable for any loss or
                damage to your property instruments or assets or for any delay or failure in the performance of any of
                the Bank’s obligations hereunder if such loss, damage, delay or failure is directly or indirectly caused
                by or as a result of act of God, fire, windstorm, hurricane, trough, flood, loss of power, earthquake,
                tsunami, riot, civil commotion, strike, act of war, terrorism, currency restrictions, or any breakdown,
                failure, interruption or malfunction in any telecommunications or computer service or systems provided
                the Bank uses reasonable efforts to minimize the effects of same. </p>
            <p>22.3. If the Bank is held liable for any reason hereunder, such liability will exclude liability for
                indirect, consequential and special damages. </p>
            <p class="centre-column-h2">23. Indemnity</p>
            <p>23.1. The Bank shall be indemnified and held harmless from any and all Loss, including all out of pocket
                legal expenses suffered or incurred or brought against the Bank arising out of or relating to this
                Agreement, and Accounts, Instructions or other Client dealings with the Bank, except in the case of
                gross negligence or intentional misconduct proven on the part of the Bank. </p>
            <p>23.2. The Bank shall be particularly indemnified and held harmless from any and all Loss arising of
                improper use of Access Information, including, but not limited to, if the Access Information was used by
                third parties to receive any information from the Account or any actions were performed on behalf of
                Authorized Person by the third person using the Access Information. </p>
            <p class="centre-column-h2">24. Collection, Processing and Sharing of Client Information</p>
            <p>24.1. The Bank shall keep confidential all documents, materials and other information relating to the
                Client and Connected Person and shall disclose Client Information only as provided in this
                Agreement. </p>
            <p>24.2. Client Information will not be disclosed to anyone other than where a) the Bank is legally required
                to disclose b) the Bank has a public duty to disclose c) the Bank or a third party’s legitimate business
                purposes require disclosure d) the disclosure is made with the Client’s consent or e) it is disclosed as
                set out in this Agreement. </p>
            <p>24.2.1. The Bank may collect, use and share Client Information (including relevant information about the
                Client, Client’s transactions and the Client’s use of the Bank’s products and services). Client
                information may be requested from the Client (or a person acting on the Client’s behalf), or may be
                collected by or on behalf of the Bank from other sources, generated and combined with other information
                available to the Bank. </p>
            <p>24.2.2. The Bank will process, transfer and disclose Client Information in connection with the following
                purposes: </p>
            <p>a) providing Services and for any transactions requested or authorised by the Client; </p>
            <p>b) meeting Compliance Obligations; </p>
            <p>c) conducting internal risk management with respect to monitoring Accounts for Financial Crime; </p>
            <p>d) collecting any amounts due from the Client; </p>
            <p>e) enforcing or defending the Bank’s rights; </p>
            <p>f) for internal operational requirements of the Bank (the “Purposes”). </p>
            <p>24.2.3. By using the Services, Client agrees that the Bank may (as necessary and appropriate for the
                Purposes) transfer and disclose any Client Information to the following recipients (who may also
                process, transfer and disclose such Client Information for the Purposes): </p>
            <p>a) within the Bank; </p>
            <p>b) any sub-contractors, agents, service providers, or associates of the Bank; </p>
            <p>c) in response to any requests from any Authorities; </p>
            <p>d) anyone acting on behalf of the Client, payment recipients, beneficiaries, Account nominees,
                intermediary, correspondent and agent banks, market counterparties and upstream withholding agents. </p>
            <p>24.3. If the Bank transfers Account Information to a service provider or agent (including its Affiliates)
                in another country or jurisdiction, the Bank shall ensure that the service provider or agent agrees to
                the same levels of protection as the Bank applies to Account Information held in Saint Lucia and to use
                Account Information only for the purpose of providing the service to the Bank. </p>
            <p>24.4. Notwithstanding Sub-clause 2 of this Clause, the Bank shall not be liable for Account Information
                passed in the normal course of business. </p>
            <p>24.5. The Client specifically authorises the Bank to back up or copy any and all data related to the
                Client and the Account to any jurisdiction outside of Saint Lucia as the Bank in its absolute discretion
                shall determine and to operate the Account or back-office functions relating to the Account from such
                jurisdiction on a temporary or permanent basis. </p>
            <p class="centre-column-h2">25. Client Obligations</p>
            <p>25.1. Client agrees to inform the Bank promptly, and in any event, within 7 (seven) calendar days in
                writing if there are any changes to Client Information supplied to the Bank and to respond to any
                request from the Bank. </p>
            <p>25.2. You confirm that every Connected Person/person whose information (including Personal Data or Tax
                Information) that has been provided to the Bank has been notified of and has agreed to the processing,
                disclosure and transfer of their information as set out in this Agreement. You shall advise Connected
                Persons/such persons that they have rights of access to, and correction of, their Personal Data. </p>
            <p>25.3. Failure of the Client to supply their or a Connected Person’s Tax Information and accompanying
                statements, and consents, or to update their Client Information in a timely fashion, may result in the
                Bank having to report Client Information where reporting is required pursuant to the Bank’s own
                Compliance Obligations. </p>
            <p>25.4. Client shall take any and all precaution measures to preserve all parts of Access Information in
                secrecy and prevent third persons from receiving any part of Access Information. </p>
            <p class="centre-column-h2">26. Suspicious Transactions</p>
            <p>26.1. Where the Bank has suspicions that the Client is involved in possible commission of Financial Crime
                or presents a potential Financial Crime risk to the Bank, the Bank may take actions necessary for the
                Bank to meet its Compliance Obligations in connection with the detection, investigation and prevention
                of Financial Crime which may include, but is not limited to: a) screening, intercepting and
                investigating any instruction, communication, request for Services, or payment instruction sent by the
                Client or on the Client’s behalf, b) investigating the source of or intended recipient of funds and/or
                c) making further enquiries as to the status of a person or entity or confirming their identity and
                status (“Financial Risk Management Activity”). </p>
            <p>26.2. To the extent permitted by law, the Bank shall not be liable to the Client or any third party in
                respect of any Loss whether incurred by the Client or any third party in connection with the delaying,
                blocking or refusing of any payment or the provision of all or part of the Services or otherwise as a
                result of its Financial Risk Management Activity. </p>
            <p class="centre-column-h2">27. General</p>
            <p>27.1. All notifications by the Bank shall be deemed to have been properly made in all cases if they have
                been sent via the methods prescribed by the Agreement. </p>
            <p>27.2. The Client shall not create an encumbrance over any right or interest of the Client in an Account
                without the prior written consent of the Bank. </p>
            <p>27.3. The rights and remedies herein provided are cumulative, may be exercised concurrently and are not
                exclusive of any rights or remedies provided by law. </p>
            <p>27.4 A waiver of a breach of any term of this Agreement shall not affect the Bank’s right in the future
                in respect of any further breach of that or any other term. </p>
            <p>27.5. The terms of this Agreement are binding upon the Client and your representatives, successors and
                permitted assigns, including heirs, executors and administrators, where applicable, and may not be
                assigned without the Bank’s prior written consent. </p>
            <p>27.6. The terms of this Agreement shall survive the termination or withdrawal of Services and will
                continue to apply with respect to determination of responsibility and resolution of all disputes for
                events, acts or omissions occurring before or circumstances as exist as at the time of the termination
                or withdrawal. </p>
            <p>27.7. If any part of this Agreement is held unenforceable for any reason, it shall not affect the
                enforceability of the remainder of the Agreement, which shall continue in full force and effect as if
                the Agreement had been executed without the unenforceable portion. </p>
            <p>27.8. This Agreement and all legal relations between the Bank and the Client shall be governed by the
                laws of Saint Lucia and the Client hereby irrevocably submits to the exclusive jurisdiction of the
                courts of Saint Lucia. Notwithstanding the previous sentence, the Bank’s submission to the jurisdiction
                courts of Saint Lucia shall not limit the Bank’s rights to take action against the Client in any other
                court of competent jurisdiction. </p>

            <p>By signing the account application, the terms and conditions above are acknowledged and agreed. </p>
{% endblock %}