{% extends 'default/base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        /*some custom styles here*/
    </style>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var maxSum = [];
        {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
        maxSum[{{ currency.Currency.Id }}] = {{ currency.Amount }};
        {% endfor %}

        var secondSelect = false;
        var rate = 0;
        var active_currency = 0;

        var from = {{ active_cur is defined ? active_cur : 0 }};
        var from_t = '';
        var from_a = 100;
        var to_t = '';
        var to = {{ active_cur2 is defined ? active_cur2 : 0 }};;
        var to_a = 0;
        var reload = false;

        var getRate = function (from, to, rev) {
            rev = rev||false;
            if (!secondSelect) {
                secondSelect = true;
                return false;
            }
            if (from) {
                $("#available_from").html('Available Amount: ' + maxSum[from] + ' ' + from_t);
            }
            {# $("#available_to").html('Available Amount: ' + maxSum[to] + ' ' + to_t); #}

            if (from == to) {
                $('.currency-div2 span.select2-selection').css('border-color','red');
                rate = 1;
                var f = $('input[name=exchange_from_amount]').val();
                var fc = (parseFloat(f) * rate).toFixed(2);
                if ($.isNumeric(fc)) {
                    $('input[name=exchange_to_amount]').val(fc);

                    var cur_balance = (to in maxSum?maxSum[to]:0);
                    var b_sum = cur_balance - parseFloat(f) + parseFloat(fc);
                    var left_balance = parseFloat(b_sum).toFixed(2);
                    $("#available_to").html('Balance after: ' + left_balance + ' ' + to_t);
                } else {
                    var t = $('input[name=exchange_to_amount]').val();
                    t = (parseFloat(t) / rate).toFixed(2);
                    if ($.isNumeric(t)) {
                        $('input[name=exchange_from_amount]').val(t);
                    }
                }
                return true;
            } else {
                $('.currency-div2 span.select2-selection').css('border-color','');
            }
            $.post('{{ path('api_exchange_get_rate') }}', {
                'from': from,
                'to': to
            }).success(function (data) {
                rate = data.rate;
                var f = $('input[name=exchange_from_amount]').val();
                if (!rev) {
                    to_a = (parseFloat(f) * rate).toFixed(2);
                    if ($.isNumeric(to_a)) {
                        $('input[name=exchange_to_amount]').val(to_a);
                    }
                }
                if (from && to) {
                    var cur_balance = (to in maxSum?maxSum[to]:0);
                    var b_sum = cur_balance + parseFloat(to_a);
                    var left_balance = parseFloat(b_sum).toFixed(2);

                    $("#available_from").html('Available Amount: ' + maxSum[from] + ' ' + from_t);
                    $("#available_to").html('Balance after: ' + left_balance + ' ' + to_t);
                }
            });
        };

        $(document).ready(function () {
            active_currency = $('select[name=currency]').val();

            $('input[name=amount]').change(function () {
                var v = parseFloat(this.value.replace(',', '.')).toFixed(2);
                $(this).val(v);
                if (parseFloat(v) > parseFloat(maxSum[active_currency])) {
                    $('div.exchange-col').css('display', 'block');
                }
            });
            $('select[name=currency]').change(function () {
                active_currency = $(this).val();
            });

            $('select[name=exchange_from]').change(function () {
                from = $(this).val();
                from_t = $(this).find(':selected').text();
                getRate(from, to);
            });
            $('select[name=exchange_to]').change(function () {
                to = $(this).val();
                to_t = $(this).find(':selected').text();
                getRate(from, to);
            });
            $('input[name=exchange_from_amount]').keyup(function () {
                from_a = $(this).val();
                to_a = (parseFloat($(this).val()) * rate).toFixed(2);
                if ($.isNumeric(to_a)) {
                    $('input[name=exchange_to_amount]').val(to_a);
                }
                getRate(from, to);
            });
            $('input[name=exchange_to_amount]').keyup(function () {
                from_a = (parseFloat($(this).val()) / rate).toFixed(2);
                to_a = $(this).val();
                if ($.isNumeric(from_a)) {
                    $('input[name=exchange_from_amount]').val(from_a);
                }
                getRate(from, to, true);
            });
            $('#btn_exchange').click(function () {
                $('#btn_exchange').prop("disabled", true);
                reload = true;
                $.post('{{ path('api_exchange') }}', {
                    'from_account': {{ app.User.ActiveHolder.Accounts[0].Id }},
                    'currency_from': from,
                    'currency_to': to,
                    'amount': $('input[name=exchange_from_amount]').val()
                }).success(function (data) {
                    if (!data.error) {
                        $('#activity-popup-header').html('Exchanged');
                        $('div#exchange_msg').html(from_a + ' ' + from_t + ' to ' + to_a + ' ' + to_t);
                        $('#btn_exchange').css('display', 'none');
                        $('#btn_close').css('display', 'block');
                    } else {
                        $('#activity-popup-header').html('Error occurred');
                        $('div#exchange_msg').html('Can not convert: ' + from_a + ' ' + from_t + ' to ' + to_a + ' ' + to_t + '<br/>' + data.msg);
                        $('#btn_exchange').css('display', 'none');
                        $('#btn_close').css('display', 'block');
                    }
                }).always(function(){
                    $('#btn_exchange').prop("disabled", false);
                });

                return false;
            });

            $('#btn_close').click(function () {
                location.reload();
            });

            $('#mask').click(function () {
                if (reload){
                    location.reload();
                }
                $('div#mask').hide();
                $('div.popup-div').hide();
            });

            //popup
            $("#btn_verify").click(function () {
                if (from_a && to_a && from_t && to_t) {
                    if (from == to){
                        $('.currency-div2 span.select2-selection').css('border-color','red');

                        return false;
                    }

                    $('div#exchange_msg').html(from_a + ' ' + from_t + ' to ' + to_a + ' ' + to_t + '?');
                    $('div#mask').fadeIn(1000);
                    $('div#activity-popup').fadeIn(1000);
                    $('#btn_exchange').css('display', 'block');
                    $('#btn_close').css('display', 'none');

                    reload = false;
                }
                return false;
            });

            $('select[name=exchange_from]').change();
            $('select[name=exchange_to]').change();
//            getRate(from, to);
        })
    </script>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="exchange">
            <form name="exchange" action="{{ path('api_exchange') }}" method="post" autocomplete="off">
                <div id="content-header3" class="mobile-padding">Exchange</div>

                <div class="form-tr accountTR">
                    <div class="form-td-data">Account</div>
                    <div class="form-td-data form-margin18">
                        {% include '@transfer/parts/from.html.twig' %}
                    </div>
                </div>

                <div class="form-tr" id="block_from">
                    <div class="form-td-data">From</div>
                    <div class="form-td-data input-with-currency font14 not-enough-money">
                        <div class="form-div grey-borders">
                            <input type="text" name="exchange_from_amount" value="100.00" max="">
                        </div>
                        <div class="select-green2-wrapper currency-div2 height32 font14">
                            <select name="exchange_from" class="currency-select" style="width:88px;" autocomplete="off">
                                {% if active_cur is defined %}
                                    {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
                                        {% if currency.Currency.Id == active_cur %}
                                            <option value="{{ currency.Currency.Id }}"
                                                    selected="selected">{{ currency.Currency.ShortName }}</option>
                                        {% else %}
                                            <option value="{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <option value="0" selected="selected">--</option>
                                    {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
                                        <option value="{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        {#{% include '@transfer/parts/amount.html.twig' %}#}
                    </div>
                    <div class="form-td-data" id="available_from"></div>
                </div>


                <div class="form-tr" id="block_to">
                    <div class="form-td-data">To</div>
                    <div class="form-td-data input-with-currency font14 not-enough-money">
                        <div class="form-div grey-borders">
                            <input type="text" name="exchange_to_amount" value="" max="">
                        </div>
                        <div class="select-green2-wrapper currency-div2 height32 font14">
                            <select name="exchange_to" class="currency-select" style="width:88px;" autocomplete="off">
                                {% if active_cur2 is defined %}
                                    {% for currency in currencies %}
                                        {% if currency.Id == active_cur2 %}
                                            <option value="{{ currency.Id }}"
                                                    selected="selected">{{ currency.ShortName }}</option>
                                        {% else %}
                                            <option value="{{ currency.Id }}">{{ currency.ShortName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <option value="0" selected="selected">--</option>
                                    {% for currency in currencies %}
                                        <option value="{{ currency.Id }}">{{ currency.ShortName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        {#{% include '@transfer/parts/amount.html.twig' %}#}
                    </div>
                    <div class="form-td-data" id="available_to"></div>
                </div>
                <div class="orderexchange">
                    <input type="submit" name="exchange" value="exchange now" id="btn_verify"
                           class="green-button8 confirm-button4"/>
                </div>
            </form>

        </div>
        <div class="clearfix"></div>
    </div>
    {# TODO: remake CSS and other to make normal modals #}
    <div id="activity-popup" class="popup-div" style="height: auto">
        <div id="activity-popup-header">Are you sure you want exchange:</div>
        <div id="activity-popup-table">
            <div id="exchange_msg"></div>
        </div>
        <div class="orderexchange">
            <input type="submit" name="exchange" value="exchange now" id="btn_exchange"
                   class="green-button8 confirm-button4"/>
            <input type="button" name="close" value="close" id="btn_close"
                   class="green-button8 confirm-button4" style="display: none"/>
        </div>
    </div>
{% endblock %}