{% extends 'default/base.html.twig' %}

{% if active is not defined %}
    {% set active = '' %}
{% endif %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/pick/default.css" id="theme_base">
    <link rel="stylesheet" href="/css/pick/default.date.css" id="theme_date">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/picker.js"></script>
    <script src="/js/picker.date.js"></script>
    <script src="/js/legacy.js"></script>

    <script type="text/javascript">
        var transfer_type = '{{ active }}';
        $(document).ready(function () {

            $('.datepicker2').pickadate({
                format: 'dd.mm.yyyy',
                firstDay: 1,
                onClose: function () {
                    $(document.activeElement).blur()
                }
            });

            $('#make-transfer').click(function () {
                var err = false;

                var account = $('input[name=account]');
                var swift = $('input[name=swift]');
                var beneficiary_name = $('input[name=beneficiary_name]');
                var date = $('input[name=date]');
                var purpose = $('textarea[name=purpose]');
                var amount = $('input[name=amount]');
                if (account && !account.val()) {
                    account.parent().addClass('form-error');
                    err = true;
                }
                if (swift.length && !swift.val()) {
                    swift.parent().addClass('form-error');
                    err = true;
                }
                if (beneficiary_name.length && !beneficiary_name.val()) {
                    beneficiary_name.parent().addClass('form-error');
                    err = true;
                }
                if (date.length) {
                    if (!date.val()) {
                        date.parent().addClass('form-error');
                        err = true;
                    } else {
                        var ds = date.val().split('.');
                        var d = new Date(ds[2], ds[1] - 1, ds[0]);
                        if (d.getDate() < new Date().getDate()) {
                            date.parent().addClass('form-error');
                            err = true;
                        }
                    }
                }
                if (purpose.length && !purpose.val()) {
                    purpose.parent().addClass('form-error');
                    err = true;
                }
                if (amount.length && !$.isNumeric(amount.val())) {
                    amount.parent().addClass('form-error');
                    err = true;
                }

                if (!err) {
                    $('form[name=transfer]').submit();
                }
                return false;
            });
            $('input').focus(function () {
                $(this).parent().removeClass('form-error');
            });
            $('textarea').focus(function () {
                $(this).parent().removeClass('form-error');
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div id="content-max">
        <div id="content-wrapper2">
            <div id="content-header3" class="mobile-padding">New transfer</div>
            <div id="top-buttons3">


                {% if active == 'own' %}
                    <a href="{{ path('transfer_own') }}" title="Own accounts"
                       class="top-button top-button-active">Own
                        accounts</a>
                {% else %}
                    <a href="{{ path('transfer_own') }}" title="Own accounts"
                       class="top-button">Own accounts</a>
                {% endif %}

                {% if active == 'local' %}
                    <a href="{{ path('transfer_local') }}" title="Bankinno client"
                       class="top-button top-button-active">Bankinno client</a>
                {% else %}
                    <a href="{{ path('transfer_local') }}" title="Bankinno client"
                       class="top-button">Bankinno client</a>
                {% endif %}

                {% if active == 'international' %}
                    <a href="{{ path('transfer_international') }}" title="International swift"
                       class="top-button top-button-active">International swift</a>
                {% else %}
                    <a href="{{ path('transfer_international') }}"
                       title="International swift" class="top-button">International swift</a>
                {% endif %}
            </div>

            <div class="form-wrapper">
                <form name="transfer" action="{{ path('transfer_verify') }}" method="post">
                    <input type="hidden" name="transfer_type" value="{{ active }}"/>
                    {% block form %}
                        {% if status is defined and status == 0 %}
                            <span>Transfer has been made. It can take up to 5 working day depending on your payment type. As soon as transfer will be finish you will be able to see it in statements</span>
                        {% endif %}
                    {% endblock %}
                </form>
                <div class="clear-both"></div>
            </div>

            {% if active != '' %}
                <a href="#" title="Make transfer" id="make-transfer" class="green-button8">Make transfer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}