{% extends '@transfer/index.html.twig' %}
{% set active = 'local' %}
{% block form %}
    <div class="form-tr">
        <div class="form-td-data">From</div>
        <div class="form-td-data form-margin18">
            {% include '@transfer/parts/from.html.twig' %}
        </div>
    </div>

    {#<div class="form-tr">#}
        {#<div class="form-td-data no-wrap-div2">To</div>#}
        {#<div class="form-td-data no-wrap-div2">#}
            {#<a href="#" class="template-link">#}
                {#<span>From templates</span>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}

    <div class="form-tr">
        <div class="form-td-data">Beneficiary name</div>
        <div class="form-td-data font14">
            <div class="form-div grey-borders">
                <input type="text" name="beneficiary_name" value="">
            </div>
        </div>
    </div>

    <div class="form-tr">
        <div class="form-td-data">Account No.</div>
        <div class="form-td-data font14">
            <div class="form-div grey-borders">
                <input type="text" name="account" value="">
            </div>
        </div>
    </div>

    <div class="form-tr">
        <div class="form-td-data no-wrap-div">Date of payment</div>
        <div class="form-td-data input-with-currency font14 no-wrap-div">
            <div class="statement-datepicker datepicker height32">
                <input type="text" name="date" value="{{ "now"|date("d.m.Y") }}" class="datepicker2">
            </div>
        </div>
    </div>

    <div class="form-tr">
        <div class="form-td-data">Comment</div>
        <div class="form-td-data textarea-div font14">
            <div class="form-div grey-borders textarea62">
                <textarea name="purpose"></textarea>
            </div>
        </div>
    </div>

    <div class="form-tr">
        <div class="form-td-data">Amount</div>
        <div class="form-td-data input-with-currency font14 not-enough-money">
            <div class="form-div grey-borders">
                <input type="text" name="amount" value="" min="0">
            </div>
            <div class="select-green2-wrapper currency-div2 height32 font14">
                <select name="currency" class="currency-select" style="width:88px;">
                    {#{% for currency in currencies %}#}
                        {#<option value="{{ currency.Id }}">{{ currency.ShortName }}</option>#}
                    {#{% endfor %}#}
                    {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
                        <option value="{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="exchange-col" style="display: none">
                <div class="not-enough-market">Not enough money. Please <a href="{{ path('exchange') }}" style="color:red">exchange</a></div>
                {#{% include '@transfer/parts/exchange.html.twig' %}#}
            </div>
            <div class="exchange-col-ok">OK</div>
        </div>
    </div>
    <div class="form-col">
        {% include '@transfer/parts/type.html.twig' with { 'nofee':true, 'notype':['economy'] } %}
        {#<div id="save-as-template">#}
            {#{% include '@transfer/parts/template.html.twig' %}#}
        {#</div>#}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var maxSum = [];
        {% for currency in app.User.ActiveHolder.Accounts[0].Currencies %}
        maxSum[{{ currency.Currency.Id }}] = {{ currency.Amount }};
        {% endfor %}

        var secondSelect = false;
        var rate = 0;
        var active_currency = 0;
        var getRate = function (from, to) {
            if (!secondSelect) {
                secondSelect = true;
                return false;
            }
            if (from == to) {
                rate = 1;
                var f = $('input[name=exchange_from_amount]').val();
                $('input[name=exchange_to_amount]').val((parseFloat(f) * rate).toFixed(2));
                return true;
            }
            $.post('{{ path('api_exchange_get_rate') }}', {
                'from': from,
                'to': to
            }).success(function (data) {
                rate = data.rate;
                var f = $('input[name=exchange_from_amount]').val();
                $('input[name=exchange_to_amount]').val((parseFloat(f) * rate).toFixed(2));
            });
        };

        $(document).ready(function () {
            active_currency = $('select[name=currency]').val();

            $('input[name=amount]').change(function () {
                var v = parseFloat(this.value.replace(',', '.')).toFixed(2);
                $(this).val(v);
                if ($.isNumeric(v) && parseFloat(v) > parseFloat(maxSum[active_currency])) {
                    $('div.exchange-col').css('display', 'block');
                } else {
                    $('div.exchange-col').css('display', 'none');
                }
            });
            $('select[name=currency]').change(function () {
                active_currency = $(this).val();
                var v = $('input[name=amount]').val();
                if ($.isNumeric(v) && parseFloat(v) > parseFloat(maxSum[active_currency])) {
                    $('div.exchange-col').css('display', 'block');
                } else {
                    $('div.exchange-col').css('display', 'none');
                }
            });
        })
    </script>
{% endblock %}