{% extends '@transfer/index.html.twig' %}
{% set active = 'own' %}
{% block styles %}
    {{ parent() }}
    {% if app.User.ActiveHolder.Accounts|length < 2 %}
        <style type="text/css">
            #make-transfer {
                display: none;
            }
        </style>
    {% endif %}
{% endblock %}
{% block form %}
    {% if app.User.ActiveHolder.Accounts|length > 1 %}
        <div class="form-tr">
            <div class="form-td-data">From</div>
            <div class="form-td-data form-margin18">
                {% include '@transfer/parts/from.html.twig' %}
            </div>
        </div>

        <div class="form-tr">
            <div class="form-td-data">To</div>
            <div class="form-td-data form-margin18">
                {% include '@transfer/parts/to_own.html.twig' %}
            </div>
        </div>

        <div class="form-tr">
            <div class="form-td-data">Amount</div>
            <div class="form-td-data input-with-currency font14 not-enough-money">
                <div class="form-div grey-borders">
                    <input type="text" name="amount" value="" min="0">
                </div>
                <div class="select-green2-wrapper currency-div2 height32 font14">
                    <select name="currency" class="currency-select" style="width:88px;">
                        {% for currency in currencies %}
                            <option value="{{ currency.Id }}">{{ currency.ShortName }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="exchange-col" style="display: none">
                    <div class="not-enough-market">Not enough money. Please <a href="{{ path('exchange') }}"
                                                                               style="color:red">exchange</a></div>
                    {#{% include '@transfer/parts/exchange.html.twig' %}#}
                </div>
                <div class="exchange-col-ok">OK</div>
            </div>
        </div>
    {% else %}
        <span>You only have one account.</span>
    {% endif %}
{% endblock %}