{% extends 'default/base.html.twig' %}
{% set active = '' %}
{% block content %}
    <div id="content-max">
        <div id="content-wrapper2">
            <div class="form-wrapper">
                <div class="makeTransfer">
                    <form action="{{ path('transfer_make') }}" method="post">
                        <div style="overflow: hidden">
                            <h1>Validate</h1>

                            {% if transfer.from is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">From</div>
                                    <div class="dataCell">{{ transfer.from.PrimaryHolder.Name }}
                                        , {{ transfer.from.Number }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.toAccount is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Account</div>
                                    <div class="dataCell">{{ transfer.toAccount }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.swift is defined and transfer.type.name == 'international' %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">SWIFT</div>
                                    <div class="dataCell">{{ transfer.swift }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.beneficiaryName is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Holder name</div>
                                    <div class="dataCell">{{ transfer.beneficiaryName }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.timeSchedule is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Date of payment</div>
                                    <div class="dataCell">{{ transfer.timeSchedule|date('d.m.Y') }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.comment is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Purpose</div>
                                    <div class="dataCell">{{ transfer.comment }}</div>
                                </div>
                            {% endif %}

                            {% if transfer.amount is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Amount</div>
                                    <div class="dataCell">{{ transfer.amount }}</div>
                                </div>
                            {% endif %}


                            {% if transfer.currency is defined %}
                                <div class="rowMakeTransfer">
                                    <div class="titleCell">Currency</div>
                                    <div class="dataCell">{{ transfer.currency.shortName }}</div>
                                </div>
                            {% endif %}

                            <input type="hidden" value="{{ transfer.id }}" name="transfer_id"/>

                            <div class="rowMakeTransfer makeOTP" style="margin-top:50px">
                                {#<div class="titleCell">Sign</div>#}
                                <div class="dataCell">
                                    <div class="label">One Time Password {#<a href="#">Send in SMS</a>#}</div>
                                    {# TODO: add variable _otp_maxlength #}
                                    <input maxlength="6" type="text" name="pin"/>
                                    {% if error is defined %}
                                        <span style="color:red">{{ msg }}</span>
                                    {% endif %}
                                    {#<span>type here...</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="btnform">
                            <input class="sbmt" type="submit" value="sign contract">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

