body {font-family: 'Ubuntu', sans-serif;}
header {
	width:100%;
	float:left;
	margin-bottom:50px;
}

header img {
	width:300px;
	height:auto;
	margin-left: -20px;
}

.account-details-popup-h {
	margin-bottom:10px;
	color: #000000;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 30px;
}

.account-div {
	float:left;
	margin-bottom:30px;
}
.account-details-tr {
	float:left;
	width:100%;
	margin-bottom:5px;
}

.account-details-tr div {
	float:left;
	width:480px;
}

.account-details-tr div:first-child {
	float:left;
	width:120px;
}

.content {
	width:600px;
	float:left;
}

.print-button {
	display:none;
}

#logo_print {
	display: block;
	width: 250px;
	position: relative;
	margin-bottom: 40px;
}


#header-div,
#logo,
#live-chat-button,
#topmenu,
#top-menu-div,
#content-header,
.account-div-header,
.account-num,
.account-status,
.account-details-link,
.account-div-col3,
.footer,
.footer-mobile,
.currency-tr > div,
#footer-bottom-menu-mobile {
	display:none;
}