#header-div,
#top-menu-div,
#print-buttons,
#statement-company-div,
#content-header,
#statement-type,
#statement-currencies-div,
.footer,
.footer-mobile,
.payment-mobile,
#footer-bottom-menu-mobile,
#ui-datepicker-div	{
	display:none;
	}
	
body {
    font-size: 16px;
    color: #2c2c2c;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

#logo_print {
	display: block;
	width: 250px;
	position: relative;
	margin-bottom: 40px;
}


div#content-header2, div#content-header3, div#content-header4 {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
	margin-top: 30px;
}

div#statement-table1 {
    margin-top: 25px;
}

div.statement-table-tr-header, div.statement-table-tr-header2 {
    height: 49px;
    background: #f8f7f7;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10px;
}

div.statement-table-tr-header div, div.statement-table-tr-header2 div {
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 500;
    float: left;
    padding-top: 18px;
    height: 31px;
}

div.statement-table-tr-header div:nth-of-type(1), div.statement-table-tr div.statement-table-data:nth-of-type(1) {
    width: 163px;
}

div.statement-table-tr-header div:nth-of-type(2), div.statement-table-tr div.statement-table-data:nth-of-type(2) {
    width: 183px;
}

div.statement-table-tr-header div:nth-of-type(3), div.statement-table-tr div.statement-table-data:nth-of-type(3) {
    width: 375px;
}

div.statement-table-tr-header div:nth-of-type(4), div.statement-table-tr div.statement-table-data:nth-of-type(4) {
    width: 240px;
}

div.statement-table-tr-header div:nth-of-type(5), div.statement-table-tr div.statement-table-data:nth-of-type(5) {
    width: 200px;
}

div.statement-table-tr {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 17px;
    padding-left: 10px;
}

div.statement-table-tr div.statement-table-data {
    float: left;
    padding-top: 18px;
}
div.statement-table-data {
    color: #000000;
    font-size: 14px;
}

div.statement-table-type {
    color: #b3b3b3;
    font-size: 12px;
    margin-top: 2px;
}
div.statement-table-details {
    font-size: 14px;
    font-weight: 500;
}

div.statement-table-details span {
    font-weight: 400;
    color: #b3b3b3;
    font-size: 12px;
}

div.statement-table-amount {
    font-size: 14px;
}

span.amount-negative {
    color: #ff0101;
}

span.statement-table-currency {
    color: #b3b3b3;
}

span.amount-positive {
    color:#96c941;
}

div.page {
    width: 1280px;
    margin: auto;
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
}

div.content-wrapper {
    width: 1280px;
    margin: 0 auto;
}

div#statement-date-div {
    margin-top: 51px;
    position: relative;
}

div.statement-date-text {
    color: #c9c9c9;
    font-size: 14px;
    float: left;
    margin-right: 13px;
    padding-top: 6px;
}

div.statement-datepicker {
    margin-right: 13px;
}
div.statement-datepicker {
    float: left;
}
div.datepicker {
    height: 26px;
    border: 2px solid #d2ba84;
    width: 107px;
}

div.statement-date-text {
    color: #c9c9c9;
    font-size: 14px;
    float: left;
    margin-right: 13px;
    padding-top: 6px;
}

div.datepicker input {
    width: 75px;
    color: #000000;
    font-size: 13px;
    padding: 4px 0 0 8px;
	border: none;
	font-family: 'Ubuntu', sans-serif;
}

img.ui-datepicker-trigger {
    top: 3px;
    position: relative;
}

.clear-both {
    clear: both;
}

div#statement-type {
    color: #c9c9c9;
    font-size: 14px;
    margin-top: 7px;
} 

div#statement-num {
    color: #848484;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
}