{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="error404">
        <p class="top">Access denied</p>
        <p class="bottom">Go to <a href="{{ path('main') }}">main page</a></p>
    </div>
{% endblock %}