<div class="account-div">
    <div class="account-div-header">
        <a href="#" title="" class="account-name-link">{{ account.PrimaryHolder.Name }}</a>
        {#<h1 class="account-name-link">{{ account.PrimaryHolder.Name }}</h1>#}
        <div class="account-name-div">
            <input type="text" name="account-name" value="" class="account-name-i">
            <input name="account-hidden-name" value="Test Company" class="hidden-inp">
        </div>
    </div>
    <div class="account-div-col1">
        <div class="account-num">{{ account.Number }}</div>
        <div class="account-status">Current account</div>
        <div class="account-details">
            <a href="#" title="" class="account-details-link">Account details</a>
            {% include 'default/accounts/details_pop_up.html.twig' ignore missing with { 'account':account} %}
        </div>
    </div>

    <div class="account-div-col2">
        <div class="currency-table">
            {% set total_amount = 0 %}
            {% for currency in account.Currencies %}
                <div class="currency-tr">
                    <div>{{ currency.Currency.ShortName }}</div>
                    <div>{{ currency.amount|number_format(2, '.', ',') }}</div>
                    <div>{{ currency.Currency.Symbol }}</div>
                </div>
                {% set total_amount = total_amount + currency.amount %}
            {% endfor %}
        </div>
        <div class="clear-both"></div>
        {% include 'default/accounts/subtotal.html.twig' ignore missing with { 'amount':total_amount } %}
    </div>
    <div class="account-div-col3">
        <div class="make-transfer-div relative green-button-open">
            <a class="make-transfer-link green-button account-button green-button-arr" href="{{ path('transfer') }}"
               title="">
                Make transfer<span class="arr"></span>
            </a>
            <ul>
                {% if app.session.get('authenticatedWithOTP') %}
                    <li>
                        <a href="{{ path('transfer_own') }}" title="">Between own accounts</a>
                    </li>
                    <li>
                        <a href="{{ path('transfer_local') }}" title="">To Bankinno client</a>
                    </li>
                    <li>
                        <a href="{{ path('transfer_international') }}" title="">International SWIFT</a>
                    </li>
                {% else %}
                    <li>
                        <a class="tooltip disable fade" data-title="{{ _not_allowed }}"
                           href="#">Between own accounts
                        </a>
                    </li>
                    <li>
                        <a class="tooltip disable fade" data-title="{{ _not_allowed }}"
                           href="#">To Bankinno client
                        </a>
                    </li>
                    <li>
                        <a class="tooltip disable fade" data-title="{{ _not_allowed }}"
                           href="#">International SWIFT
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.session.get('authenticatedWithOTP') %}
            <a href="{{ path('exchange') }}" title="Exchange" data-title="{{ _not_allowed }}"
               class="green-button account-button">Exchange
            </a>
        {% else %}
            <a href="/#" title="Exchange" data-title="{{ _not_allowed }}"
               class="tooltip disable fade green-button account-button">Exchange
            </a>
        {% endif %}
        <a href="{{ path('statement') }}" title="View Statement" class="fade green-button account-button">View
            Statement
        </a>
    </div>
    <div class="clear-both"></div>
</div>