<!-- Account details pop up -->
<div class="printWrap">
<div id="printarea" class="account-details-popup popup-div2">
    <div class="account-details-popup-wrapper">
        <div class="account-details-popup-h">Account details</div>
        <div class="account-details-table">
            <div class="account-details-tr">
                <div>Account Holder</div>
                <div>{{ account.PrimaryHolder.Name }}</div>
            </div>
            <div class="account-details-tr">
                <div>Account Number</div>
                <div>{{ account.Number }}</div>
            </div>
            <div class="account-details-tr">
                <div>Bank Name</div>
                <div>{{ _account_bank_name }}</div>
            </div>
            <div class="account-details-tr">
                <div>Bank Address</div>
                <div>{{ _account_bank_address }}</div>
            </div>
            <div class="account-details-tr">
                <div>SWIFT Code</div>
                <div>{{ _account_bank_swift }}</div>
            </div>
        </div>
        <div class="account-details-buttons">
            <a onclick="window.print()" href="#" class="print-button">Print</a>
            {#<a onclick="printDiv('printarea')" href="#" class="print-button">Print</a>#}
            {#<a href="#" onclick="printWindow()" class="print-button">PrintW</a>#}
            {#<a href="#" class="email-button">Send by email</a>#}
        </div>

    </div>
</div>
</div>
<!-- Account details pop up -->

<script>

    function printWindow() {

        {#{{ path('print_account_details') }}#}

//        var mywindow = window.open('', 'Account Details', 'height=400,width=600');
//        mywindow.document.write('<html><head><title>my div</title>');
//        mywindow.document.write('<link rel="stylesheet" type="text/css" href="/css/print_account.css" media="print">');
//        mywindow.document.write('</head><body >');
//        mywindow.document.write(document.getElementById('printarea').innerHTML);
//        mywindow.document.write('</body></html>');
//
//        mywindow.document.close(); // necessary for IE >= 10
//        mywindow.focus(); // necessary for IE >= 10
//
//        mywindow.print();
//        setTimeout(function () {
//            //mywindow.close();
//        }, 3000);

        return false;
    }

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
