{% extends 'default/base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/print_account.css" media="print">
{% endblock %}
{% block content %}
    <div id="content">
        <div id="content-header">Account</div>
        <div id="account-wrapper">
            {% for account in app.User.ActiveHolderRole.Holder.Accounts %}
                {% include 'default/accounts/account.html.twig' with {'account':account} %}
            {% endfor %}
        </div>
    </div>
	
	<script type="text/javascript">

$(document).ready(function() { 
var location = window.location.href; 
var cur_url = '/' + location.split('/').pop(); 
$('#top-panel ul li').each(function () { 
	var link = $(this).find('a').attr('href'); 
	if(cur_url == link) $(this).addClass('current');
});

});
</script>
<script>
$( ".account-details-link" ).click(function() {
  $(".printWrap").toggleClass( "active" );
});
</script>
{% endblock %}