{#
<div class="account-subtotal">
    <div class="currency-text">Subtotal</div>
    <div class="select-green2-wrapper currency-div font16">
        <select name="currency" class="currency-select">
            <option value="EUR">EUR</option>
        </select>
    </div>
    <div class="currency-text2">{{ amount }}<span class="grey">&euro;</span></div>
</div>#}
