{% extends '@settings/index.html.twig' %}

{% block article %}
    <form method="post" action="{{ path('settings_address') }}">
        <div id="centre-column">
            <div id="centre-column-h" class="centre-column-h-settings">ADDRESS
                {#<span class="centre-column-h-extra">Not verified</span>#}
                {#<span class="centre-column-h-extra verify">Verified</span>#}
            </div>

            <div id="application-form3">
                <div id="address-container">
                    {% if address is defined %}
                        {% for address in addresses %}
                            {% include '@setttings/address_block.html.twig' with {'address': address} %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="new-address-form">
                    <div class="mobile-padding">
                        <a href="#" title="New address" class="add-new-address-link">
                            <span>New address</span>
                        </a>
                    </div>
                    <div class="clear-both"></div>
                    {% include '@settings/address_new.html.twig' %}
                </div>

                {#<div class="form2-h mobile-padding settings-padding">Please upload your scanned documents and sent to#}
                {#verify#}
                {#</div>#}
                {#<div class="attach-file-div2 mobile-padding settings-padding">#}
                {#<a href="#" class="attach-file-link"><span>Attach file</span></a>#}
                {#<div class="uploaded-file-div">#}
                {#<div class="uploaded-item uploaded-item-type1">File1<span class="ext">.docx</span><a href="#"#}
                {#title="delete"#}
                {#class="delete-uploaded"></a>#}
                {#</div>#}
                {#<div class="uploaded-item uploaded-item-type2">Document docum...<span class="ext">.docx</span><a#}
                {#href="#" title="delete" class="delete-uploaded"></a></div>#}
                {#<div class="uploaded-item uploaded-item-type3">Document docum...<span class="ext">.docx</span><a#}
                {#href="#" title="delete" class="delete-uploaded"></a></div>#}
                {#</div>#}
                {#<div class="clear-both"></div>#}
                {#</div>#}
                <input id="settings-personal-details-submit" type="submit" value="Save Changes"
                       class="green-button8 confirm-button4"/>
            </div>
        </div>
        {#<pre>#}
        {#{% if debug is defined %}#}
        {#{{ debug }}#}
        {#{% endif %}#}
        {#</pre>#}
    </form>
{% endblock %}
