<div class="address-form">
    <div class="form2-h mobile-padding">Country</div>
    <input type="hidden" name="address_id[]" value="" />
    <div class="form2-d2 mobile-padding">
        <div class="form-div2 select-green3-wrapper height32">
            <select name="country[]" class="select-green" style="width: 100%">
                {% for country in countries %}
                    <option value="{{ country.Id }}">{{ country.ShortName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form2-h mobile-padding">Region</div>
    <div class="form2-d2 mobile-padding font14">
        <div class="form-div grey-borders">
            <input type="text" name="region" value="">
        </div>
    </div>

    <div class="form2-h mobile-padding">City</div>
    <div class="form2-d2 mobile-padding font14">
        <div class="form-div grey-borders">
            <input type="text" name="city" value="">
        </div>
    </div>

    <div class="form2-h mobile-padding">Postcode</div>
    <div class="form2-d2 mobile-padding font14">
        <div class="form-div grey-borders">
            <input type="text" name="postcode" value="">
        </div>
    </div>

    <div class="form2-h mobile-padding">Address 1</div>
    <div class="form2-d2 mobile-padding font14">
        <div class="form-div grey-borders">
            <input type="text" name="address1" value="">
        </div>
    </div>

    <div class="form2-h mobile-padding">Address 2</div>
    <div class="form2-d2 mobile-padding font14">
        <div class="form-div grey-borders">
            <input type="text" name="address2" value="">
        </div>
    </div>

    <a href="#" title="Save" class="green-button8 confirm-button5 save-address-new">Save</a>
    <a href="#" title="delete" class="delete-address-link delete-button-new">
        <span>Delete</span>
    </a>
    <div class="clear-both"></div>
</div>