<div class="address-item">
    <div class="form2-h mobile-padding">
        <div class="address-item-name">Russian federation, Moscow, st.Lenina 46</div>
        <a href="#" class="edit-address" title="edit">
        </a><a href="#" class="delete-address delete-button2" title="delete"></a>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
    <div class="form2-d2 mobile-padding">
        <div class="form2-1col">
            <div class="button padding30">
                <input type="radio" name="address[1]" value="1" id="address-1-1" checked>
                <label for="address-1-1"></label>
                <span class="button-name">Tax address</span>
            </div>
            {#{% for item="" %}#}
            <div class="button padding30">
                <input type="radio" name="address[1]" value="2" id="address-1-2">
                <label for="address-1-2"></label>
                <span class="button-name">Postal address</span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="address-form2">
        <div class="form2-h mobile-padding">Country</div>
        <div class="form2-d2 mobile-padding">
            <div class="form-div2 select-green3-wrapper height32">
                <select name="country[1]" class="select-green" style="width: 100%">
                    <option value="Spain">Spain</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Italy">Italy</option>
                </select>
            </div>
        </div>

        <div class="form2-h mobile-padding">Region</div>
        <div class="form2-d2 mobile-padding font14">
            <div class="form-div grey-borders">
                <input type="text" name="region[1]" value="Region">
            </div>
        </div>

        <div class="form2-h mobile-padding">City</div>
        <div class="form2-d2 mobile-padding font14">
            <div class="form-div grey-borders">
                <input type="text" name="city[1]" value="Moscow">
            </div>
        </div>

        <div class="form2-h mobile-padding">Postcode</div>
        <div class="form2-d2 mobile-padding font14">
            <div class="form-div grey-borders">
                <input type="text" name="postcode[1]" value="624457">
            </div>
        </div>

        <div class="form2-h mobile-padding">Address 1</div>
        <div class="form2-d2 mobile-padding font14">
            <div class="form-div grey-borders">
                <input type="text" name="address1[1]" value="st.Lenina">
            </div>
        </div>

        <div class="form2-h mobile-padding">Address 2</div>
        <div class="form2-d2 mobile-padding font14">
            <div class="form-div grey-borders">
                <input type="text" name="address2[1]" value="st.Lenina 2">
            </div>
        </div>

        <a href="#" title="Save" id="address-1" class="green-button8 confirm-button5 save-address">Save</a>
        <a href="#" title="delete" class="delete-address-link delete-button">
            <span>Delete</span>
        </a>
        <div class="clear-both"></div>
    </div>
</div>