{% extends 'default/base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        /*some custom styles here*/
    </style>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">

    </script>
{% endblock %}
{% block content %}
    <div id="content-max">
        <div id="content-header" class="mobile-padding">Settings</div>
        <div id="content-wrapper2">
            <div id="content-header4" class="mobile-padding">Settings</div>
            <div id="column-div">
                <div id="left-column">
                    <a href="{{ path('settings_personal') }}" class="left-menu-link left-menu-link-zero-padding">
                        <span>Personal details</span>
                    </a>
                    <a href="{{ path('settings_address') }}" class="left-menu-link left-menu-link-zero-padding"><span>Address</span></a>
                    <a href="/settings/notifications/" class="left-menu-link left-menu-link-zero-padding"><span>Notifications</span></a>
                    <a href="{{ path('settings_security') }}" class="left-menu-link left-menu-link-zero-padding"><span>Security</span></a>
                    <a href="/settings/account-verification/" class="left-menu-link left-menu-link-zero-padding"><span>Account verification</span></a>
                    <a href="/settings/mobile-application/" class="left-menu-link left-menu-link-zero-padding"><span>Mobile application</span></a>
                    <a href="/settings/choose-language/" class="left-menu-link left-menu-link-zero-padding"><span>Choose language</span></a>
                </div>
            {% block article %}
              <div id="root"></div>
              <!--Первый скрипт - старая версия формы, второй - новая-->
              <!--script src="/react-components/settings-form.js"></script-->
              <script src="/react-components/settings-form2.js"></script>
            {% endblock %}
            </div>
            <div class="clear-both"></div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var location = window.location.href;
            var cur_url = location.split('/');
            if (cur_url.length < 5) {
                $('#left-column a:first-child').addClass('current');
            } else {
                cur_url = '/' + cur_url.splice(-2).join('/');
            }
            $('#left-column a').each(function () {
                if (cur_url == $(this).attr('href')) {
                    $(this).addClass('current');
                }
            });

        });
    </script>


{% endblock %}
