{% extends '@settings/index.html.twig' %}

{% block article %}
    <!--form method="post" action="{{ path('settings_security') }}">
        <div id="centre-column">
            <div id="centre-column-h" class="centre-column-h-settings">CHANGE PASSWORD OR USER ID</div>

            <div id="application-form2" class="settings-padding">
                <div class="form2-h mobile-padding">User ID</div>
                <div class="form2-d2 mobile-padding font14">
                    <div class="form-div grey-borders">
                        <input disabled type="text" name="user_id" value="11112222">
                    </div>
                </div>
                <div class="form2-h mobile-padding" id="op">
                    Old password
                    {% if error is defined %}
                        <span style="color:red">({{ error }})</span>
                    {% endif %}
                </div>

                <div class="form2-d2 mobile-padding font14">
                    <div class="form-div grey-borders">
                        <input type="password" name="old_password" value="">
                    </div>
                </div>
                <div class="form2-h mobile-padding" id="np">New password</div>
                <div class="form2-d2 mobile-padding font14">
                    <div class="form-div grey-borders">
                        <input type="password" name="new_password" value="">
                    </div>
                </div>
                <div class="form2-h mobile-padding" id="rp">Re-type new password</div>
                <div class="form2-d2 mobile-padding font14">
                    <div class="form-div grey-borders">
                        <input type="password" name="confirm_new_password" value="">
                    </div>
                </div>
            </div>
            <div class="clear-both"></div>

            <input id="settings-personal-details-submit" type="submit" value="Save Changes"
                   class="green-button8 confirm-button4"/>
        </div>
    </form-->
    <div id="root"></div>
    <script src="/react-components/security-form.js"></script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=submit]').click(function () {
                $('#op').html('Old password');
                var op = $('input[name=old_password]').val();
                var np = $('input[name=new_password]').val();
                var rp = $('input[name=confirm_new_password]').val();
                var err = false;

                if (np.length < 6) {
                    $('#np').html('New password <span style="color:red">(Must be 6 or more symbols)</span>');
                    err = true;
                } else {
                    $('#np').html('New password');
                }
                if (op == np) {
                    $('#np').html('New password <span style="color:red">(Must be not equal to old password)</span>');
                    err = true;
                } else {
                    if (!err) {
                        $('#np').html('New password');
                    }
                }
                if (!op) {
                    $('#op').html('Old password <span style="color:red">(Input old password)</span>');
                }
                if (np != rp) {
                    $('#rp').html('Re-type new password <span style="color:red">(Passwords are not equal)</span>');
                    err = true;
                } else {
                    $('#rp').html('Re-type new password');
                }
                if (err) {
                    return false;
                }
                $('form').submit();
            });
        });
    </script>
{% endblock %}
