{% extends 'default/base.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link media="print" rel="stylesheet" type="text/css" href="/css/print_statements.css">
{% endblock %}

{% block content %}
    <div id="content-max">
        <div id="content-header" class="mobile-padding">Account</div>
        <div id="content-wrapper2">
            <div id="content-header2" class="mobile-padding">Account statement</div>
            <div id="print-buttons" class="mobile-padding statement-buttons">
                <a onclick="window.print()" href="#" class="print-button print-button-link">Print</a>
                {#<a href="#" class="format-button print-button-link">CSV</a>#}
                {#<a href="#" class="format-button print-button-link">PDF</a>#}
            </div>

            <div id="statement-company-div" class="select-green3-wrapper">
                <select name="company" class="select-green" id="statement-company">
                    {% for a in app.User.ActiveHolder.Accounts %}
                        <option name="{{ a.Id }}">{{ a.Number }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="statement-num" class="mobile-padding">{{ account.Number }}</div>
            <div id="statement-type" class="mobile-padding">Current account</div>
            <div id="statement-currencies-div" class="mobile-padding">
                <a href="#" class="green-button4 green-button4-active ch-currency" id="cur_all">All currencies</a>
                {% for currency in account.Currencies %}
                    <a href="#" class="green-button4 ch-currency"
                       id="cur_{{ currency.Currency.Id }}">{{ currency.Currency.ShortName }}</a>
                {% endfor %}

                <div class="clear-both"></div>
            </div>
            <div id="statement-date-div" class="mobile-padding">
                <div class="statement-date-text">Show from</div>
                <div class="statement-datepicker datepicker">
                    <input type="text" name="from" value="{{ "now"|date("m/d/Y") }}" autocomplete="off" class="date">
                </div>
                <div class="statement-date-text">to</div>
                <div class="statement-datepicker datepicker">
                    <input type="text" name="to" value="{{ "now"|date("m/d/Y") }}" autocomplete="off" class="date">
                </div>
                {#<div id="statement-date-buttons">#}
                {#<a href="#" class="green-button5 green-button5-active">Today</a>#}
                {#<a href="#" class="green-button5">Yesterday</a>#}
                {#<a href="#" class="green-button5">Week</a>#}
                {#<a href="#" class="green-button5">Last Week</a>#}
                {#<a href="#" class="green-button5">April</a>#}
                {#<a href="#" class="green-button5">February</a>#}
                {#</div>#}
                <div class="clear-both"></div>
            </div>

            <div class="statement-table" id="statement-table1">
                <div class="statement-table-tr-header">
                    <div>Date</div>
                    <div>Reference, Type</div>
                    <div>Details</div>
                    <div>Amount</div>
                    <div>Balance</div>
                </div>
                <div id="statements_list">
                    {% if statements is defined %}
                        {% for st in statements %}
                            {% include('default/statement/statement.html.twig') with {'st':st} %}
                        {% endfor %}
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
                <div class="clear-both"></div>
            </div>
            {#<div class="statement-table" id="statement-table2">
                <div class="statement-table-tr-header2">
                    <div>Currency</div>
                    <div>Opening Balance</div>
                    <div>Closing Balance</div>
                    <div>Credit Turnover</div>
                    <div>Debit Turnover</div>
                </div>
                #}{#{% for a in 0..0 %}#}{#
                    #}{#<div class="statement-table-tr2">#}{#
                        #}{#<div class="statement-table-data2"><span class="statement-table-currency2">EUR</span></div>#}{#
                        #}{#<div class="statement-table-data2">257,58</div>#}{#
                        #}{#<div class="statement-table-data2">244,51</div>#}{#
                        #}{#<div class="statement-table-data2"><span class="amount-positive">0,00</span></div>#}{#
                        #}{#<div class="statement-table-data2"><span class="amount-negative">13,08</span></div>#}{#
                        #}{#<div class="clear-both"></div>#}{#
                    #}{#</div>#}{#
                #}{#{% endfor %}#}{#
            </div>#}
        </div>
    </div>
{% endblock %}