<div class="statement-table-tr">
    <div class="statement-table-data">{{ st.TimeLastStatus|date('d.m.Y') }}</div>
    <div class="statement-table-data">
        {{ st.Reference }}
        <div class="statement-table-type">{{ st.Type.Name }}</div>
    </div>
    <div class="statement-table-data">
        {% set d = st.Details|split('\n') %}
        {% set f = d|first|split(';') %}
        <div class="statement-table-details">{{ f|first }}&nbsp;
            <span>{{ f|slice(1)|join }}</span>
        </div>
        {% for l in d|slice(1) %}
            <div class="statement-table-details2">{{ l }}</div>
        {% endfor %}
        {#<div class="statement-table-details">Portugal Mobile <span>50009485731</span></div>#}
        {#<div class="statement-table-details2">LV21HABA000140803, SWEDBANK AS</div>#}
        {#<div class="statement-table-details2">HABALV22XXX</div>#}
        {#<div class="statement-table-details2">R7ins # 93873647823</div>#}
    </div>
    <div class="statement-table-data">
        <div class="statement-table-amount">
            {% if st.Amount < 0 %}
                <span class="amount-negative">{{ st.Amount|number_format(2, '.', ',') }}</span>
            {% else %}
                <span class="amount-positive">{{ st.Amount|number_format(2, '.', ',') }}</span>
            {% endif %}
            <span class="statement-table-currency">{{ st.AmountCurrency.ShortName }}</span>
        </div>
    </div>
    <div class="statement-table-data">
        <div class="statement-table-amount">{{ st.Balance|number_format(2, '.', ',') }}
            <span class="statement-table-currency">{{ st.BalanceCurrency.ShortName }}</span>
        </div>
    </div>
    <div class="clear-both"></div>
</div>
<!--mobile-->
<div class="payment-mobile statement-mobile">
    <div class="payment-table-tr-mobile payment-mobile-tr-close">
        <div class="payment-table-data">
            <div class="payment-table-mobile-details1">{{ f|first }}</div>
            <div class="payment-table-mobile-details2">{{ st.TimeLastStatus|date('d.m.Y') }}</div>
        </div>
        <div class="payment-table-data">
            <div class="payment-table-mobile-details1">{{ st.Amount }}</div>
        </div>
        <div class="clear-both"></div>
        <div class="arr"></div>
    </div>
    <div class="payment-mobile-more">
        <div class="payment-mobile-more-tr">
            <div class="payment-mobile-more-data">Date</div>
            <div class="payment-mobile-more-data">{{ st.TimeLastStatus|date('d.m.Y') }}</div>
        </div>
        <div class="payment-mobile-more-tr">
            <div class="payment-mobile-more-data">Reference, Type</div>
            <div class="payment-mobile-more-data">{{ st.Reference }}</div>
        </div>
        <div class="payment-mobile-more-tr">
            <div class="payment-mobile-more-data">Details</div>
            <div class="payment-mobile-more-data">
                <div class="statement-table-details">
                    {{ f|first }}
                    <span>{{ f|slice(1)|join }}</span>
                </div>
                {% for l in d|slice(1) %}
                    <div class="statement-table-details2">{{ l }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="payment-mobile-more-tr">
            <div class="payment-mobile-more-data">Amount</div>
            <div class="payment-mobile-more-data">
                <div class="statement-table-amount">
                    {% if st.Amount < 0 %}
                        <span class="amount-negative">{{ st.Amount|number_format(2, '.', ',') }}</span>
                    {% else %}
                        <span class="amount-positive">{{ st.Amount|number_format(2, '.', ',') }}</span>
                    {% endif %}
                    <span class="statement-table-currency">{{ st.AmountCurrency.ShortName }}</span>
                </div>
            </div>
        </div>
        <div class="payment-mobile-more-tr">
            <div class="payment-mobile-more-data">Balance</div>
            <div class="payment-mobile-more-data">
                <div class="statement-table-amount">
                    {{ st.Balance|number_format(2, '.', ',') }}
                    <span class="statement-table-currency">{{ st.BalanceCurrency.ShortName }}</span>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>
<!--mobile-->
