{#<pre>{{ debug }}</pre>#}
{% if statements is defined and statements|length > 0 %}
    {% for st in statements %}
        {% include('default/statement/statement.html.twig') with {'st':st} %}
    {% endfor %}
{% else %}
    <div class="nothing_found">Nothing found</div>
{% endif %}