<!-- LIVE CHAT -->

<div id="live-chat" class="chat-connect popup-div2">
    <!-- chat-server, chat-error, chat-connect -->
    <div id="live-chat-top">
        <div id="live-chat-top-name">Live chat</div>
        <a href="#" class="live-chat-cut-down-mobile"></a>
        <div id="live-chat-top-status">You are now connected with Anna</div>
        <a href="#" class="live-chat-cut-down"></a>
    </div>
    <div style="height:399px;" id="live-chat-message-div-wrapper">
        <div id="live-chat-message-div" class="scrollbar-inner">

            <div class="live-chat-message">
                <div class="live-chat-photo-operator"><img src="/images/photo1.jpg" title="Anna"></div>
                <div class="live-chat-message-operator">
                    <div class="live-chat-message-operator-header"><span class="live-chat-message-operator-header-name">Anna</span>/<span
                                class="live-chat-message-operator-header-time">20:22</span></div>
                    <div class="live-chat-message-operator-text">Hey! How can I help you?</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><img src="/images/photo2.jpg"></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">I'm having trouble registering my new my account</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-operator"><img src="/images/photo1.jpg" title="Anna"></div>
                <div class="live-chat-message-operator">
                    <div class="live-chat-message-operator-header"><span class="live-chat-message-operator-header-name">Anna</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-operator-text">Superdelegates are party insiders who can pledge their
                        support for a candidate ahead of the convention but do not formally vote for them until the
                        convention itself.
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client"><img src="/images/photo2.jpg"></div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">
                        <div class="uploaded-file-div-chat">
                            <div class="uploaded-item-chat uploaded-item-type1">Document document<span
                                        class="ext">.docx</span></div>
                            <div class="uploaded-item-chat uploaded-item-type2">Document document2<span class="ext">.docx</span>
                            </div>
                            <div class="uploaded-item-chat uploaded-item-type3">Document 4<span class="ext">.docx</span>
                            </div>
                            <div class="uploaded-item-chat uploaded-item-type1">Good<span class="ext">.docx</span></div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client">
                    <div class="video-on"></div>
                </div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Video camera ON</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client">
                    <div class="video-off"></div>
                </div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Video camera OFF</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client">
                    <div class="mic-on"></div>
                </div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Microphone ON</div>
                </div>
                <div class="clear-both"></div>
            </div>

            <div class="live-chat-message">
                <div class="live-chat-photo-client">
                    <div class="mic-off"></div>
                </div>
                <div class="live-chat-message-client">
                    <div class="live-chat-message-client-header"><span class="live-chat-message-operator-header-name">You</span>/<span
                                class="live-chat-message-operator-header-time">20:23</span></div>
                    <div class="live-chat-message-client-text">Microphone OFF</div>
                </div>
                <div class="clear-both"></div>
            </div>

        </div>
    </div>
    <div id="live-chat-bottom">
        <div id="live-chat-bottom-buttons">
            <a href="#" class="video-button video-support-off"></a>
            <!--video-support-on-->
            <a href="#" class="mic-button mic-support-off"></a>
            <!--mic-support-on mic-state2...6-->
        </div>
        <div id="live-chat-bottom-text">
            <div id="live-chat-input"><input type="text" value="Type message here..." name="chat-message"></div>
            <a href="#" id="live-chat-send-mobile" title="Send message"></a>
            <a href="#" id="live-chat-attach" title="Attach file"></a>
        </div>
        <a href="#" id="live-chat-send" title="Send">Send</a>
    </div>
    <div id="live-chat-camera">
        <div id="live-chat-operator-camera"><img src="/images/operator_img.png"></div>
        <div id="live-chat-client-camera"><img src="/images/client_img.png"><a href="#"
                                                                               class="live-chat-client-camera-close"
                                                                               title="close video chat"></a></div>
    </div>
</div>

<div id="footer-bottom-menu-mobile">
    <div id="footer-bottom-menu-mobile-wrapper">
        <a href="/" title="Home" class="home-icon">Home</a>
        <a href="/payment/" title="Pay" class="pay-icon">Pay</a>
        <a href="/exchange/" title="Exchange" class="exchange-icon">Exchange</a>
        <a href="#" title="Live chat" class="chat-icon ">Live chat</a>
    </div>
</div>
<!--chat-icon-active-->
<!-- LIVE CHAT -->