{% extends 'default/base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        /*some custom styles here*/
    </style>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            //some JS code here
        });
    </script>
{% endblock %}
{% block content %}
    <div id="content-max" class="pb">
	<!-- Order a new payment card -->
	<div id="new-card-h">You don't have any card yet. Contact your manager to order one!</div>
	{#<div id="new-card-h">Order a new payment card</div>#}
	<!-- Order a new payment card -->
	<div id="content-wrapper2">
	<div id="all-cards">
	<div id="content-header" class="mobile-padding">Cards</div>	
	<div id="cards-wrapper" class="mobile-padding">

{#	
		<div class="cards-div active-card" id="card-12345">
		<!--active-card locked-card -->
			<div class="cards-div-info1">
				<div class="cards-div-header"><a href="#" title="">MC WORLD</a></div>
				<div class="cards-div-num">LC11BNKO5555555555540</div>
				
				<!-- card image -->
				<div class="cards-div-type mastercard-on"></div>
				<div class="cards-div-type mastercard-off">locked</div>
				<!-- card image -->
				
			</div>
			<div class="cards-div-info2">
				<div class="cards-div-valid">6068 **** **** 9874<span>/</span>Valid by 02/19</div>
				<div class="cards-div-card-holder">test representative</div>
			</div>
			<div class="cards-div-info3">
			
				<!-- buttons -->
				<a href="/statement_cards/" class="cards-div-statement">Statement</a>
								
				<a href="#" class="cards-status cards-suspend tooltip-link active-card-button">
					<span class="tooltip">
						<span class="tooltip-wrapper">Suspend<span class="tooltip-corner"></span></span>
					</span>					
				</a>
				<span class="tooltip-mobile tooltip-mobile1 tooltip-green active-card-button">Suspend</span>
				
				<a href="#" class="cards-status cards-activate tooltip-link locked-card-button">
					<span class="tooltip"><span class="tooltip-wrapper">Activate<span class="tooltip-corner"></span></span></span>
				</a>
				<span class="tooltip-mobile tooltip-mobile1 tooltip-red locked-card-button">Activate</span>				
				
				<a href="#" class="cards-refresh tooltip-link">
					<span class="tooltip"><span class="tooltip-wrapper">Renew<span class="tooltip-corner"></span></span></span>			
				</a>
				<span class="tooltip-mobile tooltip-mobile2 tooltip-green">Renew</span>
				<!-- buttons -->
				
				<div class="cards-balance">
					<div class="cards-balance-sum">EUR <span>352.33</span></div>
					<div class="cards-hold-sum">hold: -256.23</div>
				</div>
			</div>
		</div>
			
		
		
		<div class="cards-div locked-card" id="card-67890">
			<div class="cards-div-info1">
				<div class="cards-div-header"><a href="#" title="">MC WORLD</a></div>
				<div class="cards-div-num">LC11BNKO5555555555540</div>
				
				<!-- card image -->
				<div class="cards-div-type mastercard-on"></div>
				<div class="cards-div-type mastercard-off">locked</div>
				<!-- card image -->
				
			</div>
			<div class="cards-div-info2">
				<div class="cards-div-valid">6068 **** **** 9874<span>/</span>Valid by 02/19</div>
				<div class="cards-div-card-holder">test representative</div>
			</div>
			<div class="cards-div-info3">
			
				<!-- buttons -->
				<a href="/statement_cards/" class="cards-div-statement">Statement</a>
								
				<a href="#" class="cards-status cards-suspend tooltip-link active-card-button">
					<span class="tooltip">
						<span class="tooltip-wrapper">Suspend<span class="tooltip-corner"></span></span>
					</span>					
				</a>
				<span class="tooltip-mobile tooltip-mobile1 tooltip-green active-card-button">Suspend</span>
				
				<a href="#" class="cards-status cards-activate tooltip-link locked-card-button">
					<span class="tooltip"><span class="tooltip-wrapper">Activate<span class="tooltip-corner"></span></span></span>
				</a>
				<span class="tooltip-mobile tooltip-mobile1 tooltip-red locked-card-button">Activate</span>				
				
				<a href="#" class="cards-refresh tooltip-link">
					<span class="tooltip"><span class="tooltip-wrapper">Renew<span class="tooltip-corner"></span></span></span>			
				</a>
				<span class="tooltip-mobile tooltip-mobile2 tooltip-green">Renew</span>
				<!-- buttons -->
				
				<div class="cards-balance">
					<div class="cards-balance-sum">EUR <span>3,462.33</span></div>
				</div>
			</div>			
		</div>
#}
		
		{#<a class="cards-div-new" href="#" id="order-new-card">#}
			{#<span>You don't have any card yet. Contact your manager to order one!</span>#}
			{#<span>Order a new payment card</span>#}
		{#</a>#}
		<span>You don't have any cards yet. Contact your manager to order one!</span>
		<div class="clear-both"></div>
	</div>
	</div>
	<!-- Order a new payment card -->
	<form action="{{ path('cards') }}" method="post">
	<div id="new-card-div" class="popup-div2">
		<div id="new-card-wrapper">
			<div id="form2-header">Loan application</div>
			<div id="new-card-button">
				<a href="#" title="" class="top-button2 top-button-active2 select-card" id="card-1">Gold<span class="arr"></span></a>
				<a href="#" title="" class="top-button2 select-card" id="card-2">Platinum<span class="arr"></span></a>
				<a href="#" title="" class="top-button2 select-card" id="card-3">Billionaire<span class="arr"></span></a>
				<a href="#" title="" class="top-button2 select-card" id="card-4">Rodney Bay<span class="arr"></span></a>
				<div class="clear-both"></div>
			</div>
			<div id="new-card-image">
				<div class="new-card-item new-card-item-active" id="cardi-1"><img src="/images/cards/gold.png"></div>
				<div class="new-card-item" id="cardi-2"><img src="/images/cards/platinum.png"></div>
				<div class="new-card-item" id="cardi-3"><img src="/images/cards/billionaire.png"></div>
				<div class="new-card-item" id="cardi-4">
					<div class="unavailable-card">
						<div class="unavailable-card-text">Available for VIP Accounts</div>
						<div class="unavailable-card-link"><a href="#" title="Become VIP">Become VIP</a></div>
					</div>
				</div>
			</div>
			<input type="hidden" value="1" name="card_id">
			
			<div class="form2-h">Currency</div>
			<div class="select-green2-wrapper currency-div2 currency-wider margin27 height32">
				<select name="currency_card" class="currency-select">
					<option value="EUR">EUR</option>
					<option value="USD">USD</option>
					<option value="CZK">CZK</option>
				</select>
			</div> 
			
			<div class="form2-h">Daily limits:</div>
			
			<div class="form2-h2">
				<div>Shops/POS</div>
				<div>ATM</div>
			</div>
			<div class="form2-d">
				<div class="form-div grey-borders"><input type="text" name="shops_card" value="350"></div>
				<div class="form-div grey-borders"><input type="text" name="atm_card" value="3150"></div>
			</div>			

			<div class="form2-h">Name on Card</div>			

			<div class="form2-d2">
				<div class="form-div grey-borders"><input type="text" name="name_on_card" value="Sebastian Luna"></div>
			</div>	
			
			<div class="form2-h">Delivery Method</div>			

			<div class="form2-d2">
				<div class="form-div2 select-green3-wrapper height32">
					<select name="delivery_method_card" class="select-green" style="width: 100%">
						<option value="Carrier">Carrier</option>
						<option value="Carrier">Carrier1</option>
						<option value="Carrier">Carrier2</option>
					</select>			
				</div>
			</div>	
			
			<div class="form2-h">Address:</div>
			
			<div class="form2-h2">
				<div>Country</div>
				<div>City</div>
			</div>
			<div class="form2-d">
				<div class="form-div2 select-green3-wrapper height32">
					<select name="country_card" class="select-green" style="width: 100%">
						<option value="USA">USA</option>
						<option value="Portugal">Portugal</option>
						<option value="Russia">Russia</option>
					</select>				
				</div>
				<div class="form-div grey-borders"><input type="text" name="city_card" value="Sacramento"></div>
			</div>	
			<div class="form2-h">Address</div>			

			<div class="form2-d2">
				<div class="form-div grey-borders"><input type="text" name="address_card" value="USA"></div>
			</div>				
			
			<div class="form2-h">Contacts (Your Name, phone number or email)</div>			

			<div class="form2-d2">
				<div class="form-div grey-borders"><input type="text" name="contacts_card" value=""></div>
			</div>	

			<div class="form2-h">Pay fees from Account</div>			

			<div class="form2-d2">
				<div class="form-div2 select-green3-wrapper height32">
					<select name="fees_card" class="select-green" style="width: 100%">
						<option value="Carrier">LC9284658920456777</option>
						<option value="Carrier">LC9284658920456779</option>
						<option value="Carrier">LC9284658920456717</option>
					</select>			
				</div>
			</div>	
			
			<div class="form2-d3">Express issue:<input type="checkbox" value="1" name="express" value="1" class="input-chck" checked><div class="checkbox checked"></div></div>
			<div class="orderNewCarInput">
				<input type="submit" title="confirm" id="cards-confirm" value="confirm" class="confirm-button green-button8" />
			</div>	
		</div>
	</div>
	</form>
	<!-- Order a new payment card -->
	</div>
</div>

<input type="hidden" name="select-card" value="0">

<div id="card-confirm" class="popup-div2 popup-confirm">
	<div class="confirm-wrapper">
		<div class="confirm-header">SUSPEND</div>
		<div class="confirm-text">Are you sure you want to block the card</div>
		<div class="confirm-buttons">
			<a href="#" title="No" class="green-button12 close-popup-div2">No</a>
			<a href="#" title="Yes" class="green-button13 suspend-card-button event-button">Yes</a>
		</div>
	</div>
</div>
<script type="text/javascript">

$(document).ready(function() { 
var location = window.location.href; 
var cur_url = '/' + location.split('/').pop(); 
$('#top-panel ul li').each(function () { 
	var link = $(this).find('a').attr('href'); 
	if(cur_url == link) $(this).addClass('current');
});

});
</script>

{% endblock %}