* {
    font-size: 100.00%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background: #f3f2f2;
}

a {
    color: #000000;
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
    color: #2c2c2c;
}

a img {
    border: 0;
}

a, img, object, a:active, a:focus, input:focus, textarea:focus, select:focus, :focus {
    outline: 0;
}

input, textarea, select {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #2c2c2c;
    border: none;
}

ul {
    margin: 0 0 20px 0;
}

ul li {
    margin: 0 0 0 20px;
}

table {
    border-spacing: 0;
    border: none;
    border-collapse: collapse;
}

div#login-wrapper {
    width: 460px;
    /* margin:207px auto 0 auto; */
    margin: 50px auto 0 auto;
}

div#header-div {
    height: 64px;
    position: relative;
}

div#logo {
    display: block;
    width: 166px;
    height: 24px;
    background: url('../images/login-logo.png') 0 0 no-repeat;
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 5;
}

div#language-div {
    width: 59px;
    position: absolute;
    right: 0;
    top: 10px;
}

a#language-active-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 26px;
    padding: 9px 0 0 17px;
    border-left: 1px solid #e7e6e6;
}

div#language-div:hover a#language-active-link, a#language-active-link:hover {
    background: #e7e6e6;
}

a#language-active-link span.arr {
    background: url('../images/arr-green.png') 0 0 no-repeat;
    width: 9px;
    height: 5px;
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: -2px;
}

div#language-div:hover a#language-active-link span.arr, a#language-active-link:hover span.arr {
    background: url('../images/arr-green.png') 0 -10px no-repeat;
}

div#language-div ul {
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
    margin: 0;
    background: #ffffff;
    display: none;
    width: 58px;
    position: absolute;
    top: 35px;
    z-index: 2;
}

div#language-div ul li {
    margin: 0;
    width: 56px;
    height: 33px;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

div#language-div ul a {
    display: block;
    width: 38px;
    height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 0 0 18px;
    color: #000000;
}

div#language-div ul a:hover {
    color: #ffffff;
    background: #96c941;
}

div#language-div:hover > ul {
    display: block;
}

div#login-form {
    background: #ffffff;
    padding: 27px 28px 28px 28px;
}

div#copyright {
    margin-top: 39px;
    font-size: 14px;
    color: #6f6f6f;
    width: 150px;
    float: left;
}

div#phone {
    height: 30px;
    background: url('../images/24h.png') 0 5px no-repeat;
    padding: 0 0 0 31px;
    color: #8c8c8c;
    font-size: 24px;
    font-weight: 300;
    margin-top: 29px;
    float: right;
}

span.phone-prefix {
    font-size: 18px;
}

div.form-h {
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
}

div.form-i {
    color: #000000;
    font-size: 14px;
    height: 23px;
    border: 1px solid #ede9e9;
    padding: 7px 40px 0 11px;
}

div.form-i input {
    color: #000000;
    font-size: 14px;
    width: 100%;
}

div#form-i1 {
    margin-bottom: 22px;
}

div#form-i2 {
    margin-bottom: 14px;
}

div.checkbox {
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 7px;
}

div.unchecked {
    background: url('../images/checkbox.png') 0 0 no-repeat;
}

div.checked {
    background: url('../images/checkbox.png') 0 -27px no-repeat;
}

input#remember-me {
    display: none;
}

div#remember-div {
    float: left;
}

div#forgot-div {
    float: right;
}

div#forgot-div a {
    color: #6f6f6f;
    font-size: 14px;
}

div#next-div {
    margin-top: 30px;
}

a#next-button {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 80px 0 80px;
    display: inline-block;
    font-size: 14px;
    height: 33px;
    background: #96c941;
    float: left;
}

a#next-button:hover {
    background: #abd467;
    color: #ffffff;
}

div.clear-both {
    clear: both;
}

div.form-error {
    border: 1px solid #fa3636;
}

div.form-success {
    border: 1px solid #ffffff;
    background: url('../images/ok.png') 382px 8px no-repeat;
}

div#next-div {
    height: 50px;
}

div#login-failed {
    color: #f50000;
    font-size: 14px;
    float: left;
    margin: 16px 0 0 16px;
    display: none;
}

div#ot {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-right: 19px;
    margin-top: 7px;
}

div#ot-i {
    border: 1px solid #ede9e9;
    float: left;
    width: 77px;
    padding: 7px 10px 0 10px;
    margin-right: 16px;
    height: 23px
}

div#ot-i input {
    color: #000000;
    font-size: 14px;
    width: 100%;
}

div#ot2 {
    color: #b3b3b3;
    font-size: 14px;
    float: left;
    margin-top: 7px;
}

div#step2-div {
    margin-top: 34px;
    /*display: none;*/
}

div#send-sms {
    padding-left: 30px;
    position: relative;
    top: -5px;
    clear: both;
}

a#send-sms-link {
    color: #b3b3b3;
    font-size: 12px;
}

a#login-button {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 0 0 0;
    display: block;
    font-size: 14px;
    height: 33px;
    background: #96c941;
    float: left;
    width: 192px;
    text-align: center;
}

a#login-button:hover {
    background: #abd467;
    color: #ffffff;
}

a#view-button {
    color: #96c941;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0 0 0;
    display: block;
    font-size: 14px;
    height: 31px;
    float: left;
    width: 192px;
    border: 2px solid #96c941;
    text-align: center;
    margin-left: 16px;
}

a#view-button:hover {
    background: #96c941;
    color: #ffffff;
}

div#button-div {
    margin-top: 25px;
}

a#login-button.login-button-disabled, a#login-button:hover.login-button-disabled {
    background: #d4d4d4;
    color: #ffffff;
}

div#one-time-pass {
    position: relative;
}
div#error {
    color:red;
}

@media (max-width: 720px) {
    div#login-wrapper {
        margin-top: 0;
        width: 320px;
    }

    div#logo {
        left: 10px;
    }

    div#language-div {
        right: 10px;
    }

    div#login-form {
        padding-left: 10px;
        padding-right: 10px;
    }

    a#next-button {
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        float: none;
    }

    div#login-failed {
        float: none;
        position: absolute;
        top: 154px;
        margin: 0;
        right: 30px;
        text-align: right;
    }

    div#ot2 {
        float: none;
        margin-top: 0;
        position: absolute;
        top: 42px;
        left: 163px;
    }

    a#login-button {
        width: 146px;
    }

    a#view-button {
        width: 142px;
        margin-left: 8px;
    }

    div.footer {
        position: relative;
        padding-top: 12px;
    }

    div#copyright {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0 auto 0 auto;
        position: absolute;
        top: 55px;
    }

    div#phone {
        float: none;
        margin: 0 auto 0 auto;
        width: 165px;
    }
}