<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Bankinno Online Banking</title>
    <meta name="description" content="">
    <meta name="keywords" content="">


    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script type="text/javascript" src="/js/mq.genie.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/login.css" media="screen">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <script type="text/javascript" src="/js/respond.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen">
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="login-wrapper">
    <!-- header -->
    <div id="header-div">
        <img id="logo" src="/images/new_logo.png" alt="logo" />
        {#<div id="language-div">
            <a id="language-active-link" href="#" title="">En<span class="arr"></span></a>
            <ul>
                <li><a href="#" title="">Pt</a></li>
                <li><a href="#" title="">Kz</a></li>
                <li><a href="#" title="">Fr</a></li>
            </ul>
        </div>#}
    </div>
    <!-- header -->
    <div id="login-form">
        {% block form %}
            <div class="form-h">Client ID</div>
            <div class="form-i" id="form-i1"><input type="text" name="client_id" value=""></div>
            <div class="form-h">PIN</div>
            <div class="form-i" id="form-i2"><input type="password" name="pin" value=""></div>
            <div id="remember-div"><input type="checkbox" value="1" name="remember" value="1" id="remember-me">
                <div class="checkbox unchecked"></div>
                Remember me
            </div>
            <div id="forgot-div"><a href="#">Forgot Your Password?</a></div>
            <div class="clear-both"></div>
            <div id="next-div"><a href="#" title="next" id="next-button">Next</a>
                <div id="login-failed">- Login failed</div>
            </div>
        {% endblock %}
        <div class="clear-both"></div>
    </div>
    <div class="footer">
        <div id="copyright">&copy; 2016 Bankinno Inc.</div>
        <div id="phone">{#<span class="phone-prefix">#}{{ _phone_part1 }}{#</span>#}{{ _phone_part2 }}</div>
    </div>
</div>
</body>
</html>