{% extends 'security/base.html.twig' %}

{% block form %}
    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div id="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="form-h">Client ID</div>
        <div class="form-i" id="form-i1">
            <input type="text" name="client_id" value="{{ last_username }}">
        </div>
        <div class="form-h">PIN</div>
        <div class="form-i" id="form-i2">
            <input type="password" name="pin" value="">
        </div>
        {#<div id="remember-div">
            <input type="checkbox" value="1" name="remember" value="1" id="remember-me">
            <div class="checkbox unchecked"></div>
            Remember me
        </div>
        <div id="forgot-div">
            <a href="#">Forgot Your Password?</a>
        </div>#}
        <div class="clear-both"></div>
        <div id="next-div">
            <a href="#" title="next" id="next-button">Next</a>
            <div id="login-failed">- Login failed</div>
        </div>

        <input type="hidden" name="_security_token" value="{{ csrf_token('authenticate') }}" />
        {#<input type="hidden" name="_target_path" value="/account"/>#}
    </form>
{% endblock %}