{% extends 'security/base.html.twig' %}
{% block form %}
    <div id="step2-div">
        {#{% if error %}#}
        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
        {#{% endif %}#}
        <form action="{{ path('otp') }}" method="post">
            <div id="one-time-pass">
                <div id="ot">One Time Password</div>
                <div id="ot-i">
                    <input autocomplete="off" type="text" name="pin" value="">
                </div>
                <div id="ot2">
                    {% if attempts_left is defined and attempts_left < 4 %}
                        {{ attempts_left }}
                    {% endif %}
                </div>
                <div id="send-sms">
                    {#<a href="#" id="send-sms-link">Send in SMS</a>#}
                </div>
            </div>
            <div id="button-div">
                <a href="{{ path('otp') }}" title="Login" id="login-button" class="login-button-disabled">Login</a>
                <a href="{{ path('main') }}" title="View only" id="view-button">View only</a>
            </div>
            <input type="hidden" name="_security_token" value="{{ csrf_token('authenticate') }}"/>
        </form>
    </div>
{% endblock %}