{% extends 'default/base.html.twig' %}
{% block styles %}
    {{ parent() }}
    <style type="text/css">
        /*some custom styles here*/
    </style>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            //some JS code here
        });
    </script>
{% endblock %}
{% block content %}
    {% include '@exception/error.html.twig' %}
{% endblock %}